   <!-- Start Breadcrumb -->
   <div class="breadcrumb_container">
    <div class="container">
        <div class="breadcrumb_inner">
            <h4 class="page_title">العدد الاسبوعي</h4>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#">الرئيسية</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                    العدد الاسبوعي
                </li>
            </ol>
        </div>
    </div>
</div>
<!-- End Breadcrumb -->

<!-- Start Page -->
<div class="page_filter">
    <div class="container">
        <div class="filter_toolbar">
            <div class="filter_toolbar_inner">
                <div class="item_filter_left">
                    <span class="count-page">
                        <span>1264</span> عدد اسبوعي
                    </span>
                    <div class="custom_field mb-0">
                        <div class="select2_has_border">
                            <select class="form-control select2" data-extratext="ترتيب حسب:">
                                <option value="">
                                    المضاف حديثاً
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="item_filter_right">

                    <a class="btn btn_filter collapsed" data-toggle="collapse" href="#collapseFilter" role="button"
                        aria-expanded="false" aria-controls="collapseFilter">
                        تصفية
                    </a>
                </div>
            </div>
            <div class="collapse" id="collapseFilter">
                <div class="filter_toolbar_content">
                    <form>
                        <div class="row">
                            <div class="col-auto flex-grow-1">
                                <div class="custom_field">
                                    <input class="form-control datepicker" placeholder="تاريخ النشر من">
                                </div>
                            </div>
                            <div class="col-auto flex-grow-1">
                                <div class="custom_field">
                                    <input class="form-control datepicker" placeholder="تاريخ النشر الى">
                                </div>
                            </div>
                            <div class="col-auto flex-grow-1">
                                <div class="form-group custom_field">
                                    <select class="form-control select2" data-placeholder="البحث بالعدد الاسبوعي">
                                        <option></option>
                                        <option>البحث بالعدد الاسبوعي </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col flex-shrink-1">
                                <button type="button" class="btn btn_yellow_FF btn_sm">
                                    بحث
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                <div class="card_weekly_issue">
                    <div class="card_body">
                        <div class="card_thumbnail">
                            <img src="assets/images/Weekly-Issue.jpg" alt="">
                        </div>
                        <div class="card_inner">
                            <div class="card_content">
                                <h4 class="card_title">
                                    عدد الاسبوع
                                </h4>
                                <span class="count_text">1264</span>
                                <span class="date_time">
                                    الثلاثاء، 1 أكتوبر 2024 - 01:10 م
                                </span>
                            </div>
                            <div class="card_actions">
                                <a href="#" class="btn btn_grey btn_icon">
                                    <img src="assets/images/icons/download.svg" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                <div class="card_weekly_issue">
                    <div class="card_body">
                        <div class="card_thumbnail">
                            <img src="assets/images/Weekly-Issue.jpg" alt="">
                        </div>
                        <div class="card_inner">
                            <div class="card_content">
                                <h4 class="card_title">
                                    عدد الاسبوع
                                </h4>
                                <span class="count_text">1264</span>
                                <span class="date_time">
                                    الثلاثاء، 1 أكتوبر 2024 - 01:10 م
                                </span>
                            </div>
                            <div class="card_actions">
                                <a href="#" class="btn btn_grey btn_icon">
                                    <img src="assets/images/icons/download.svg" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                <div class="card_weekly_issue">
                    <div class="card_body">
                        <div class="card_thumbnail">
                            <img src="assets/images/Weekly-Issue.jpg" alt="">
                        </div>
                        <div class="card_inner">
                            <div class="card_content">
                                <h4 class="card_title">
                                    عدد الاسبوع
                                </h4>
                                <span class="count_text">1264</span>
                                <span class="date_time">
                                    الثلاثاء، 1 أكتوبر 2024 - 01:10 م
                                </span>
                            </div>
                            <div class="card_actions">
                                <a href="#" class="btn btn_grey btn_icon">
                                    <img src="assets/images/icons/download.svg" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                <div class="card_weekly_issue">
                    <div class="card_body">
                        <div class="card_thumbnail">
                            <img src="assets/images/Weekly-Issue.jpg" alt="">
                        </div>
                        <div class="card_inner">
                            <div class="card_content">
                                <h4 class="card_title">
                                    عدد الاسبوع
                                </h4>
                                <span class="count_text">1264</span>
                                <span class="date_time">
                                    الثلاثاء، 1 أكتوبر 2024 - 01:10 م
                                </span>
                            </div>
                            <div class="card_actions">
                                <a href="#" class="btn btn_grey btn_icon">
                                    <img src="assets/images/icons/download.svg" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                <div class="card_weekly_issue">
                    <div class="card_body">
                        <div class="card_thumbnail">
                            <img src="assets/images/Weekly-Issue.jpg" alt="">
                        </div>
                        <div class="card_inner">
                            <div class="card_content">
                                <h4 class="card_title">
                                    عدد الاسبوع
                                </h4>
                                <span class="count_text">1264</span>
                                <span class="date_time">
                                    الثلاثاء، 1 أكتوبر 2024 - 01:10 م
                                </span>
                            </div>
                            <div class="card_actions">
                                <a href="#" class="btn btn_grey btn_icon">
                                    <img src="assets/images/icons/download.svg" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                <div class="card_weekly_issue">
                    <div class="card_body">
                        <div class="card_thumbnail">
                            <img src="assets/images/Weekly-Issue.jpg" alt="">
                        </div>
                        <div class="card_inner">
                            <div class="card_content">
                                <h4 class="card_title">
                                    عدد الاسبوع
                                </h4>
                                <span class="count_text">1264</span>
                                <span class="date_time">
                                    الثلاثاء، 1 أكتوبر 2024 - 01:10 م
                                </span>
                            </div>
                            <div class="card_actions">
                                <a href="#" class="btn btn_grey btn_icon">
                                    <img src="assets/images/icons/download.svg" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                <div class="card_weekly_issue">
                    <div class="card_body">
                        <div class="card_thumbnail">
                            <img src="assets/images/Weekly-Issue.jpg" alt="">
                        </div>
                        <div class="card_inner">
                            <div class="card_content">
                                <h4 class="card_title">
                                    عدد الاسبوع
                                </h4>
                                <span class="count_text">1264</span>
                                <span class="date_time">
                                    الثلاثاء، 1 أكتوبر 2024 - 01:10 م
                                </span>
                            </div>
                            <div class="card_actions">
                                <a href="#" class="btn btn_grey btn_icon">
                                    <img src="assets/images/icons/download.svg" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                <div class="card_weekly_issue">
                    <div class="card_body">
                        <div class="card_thumbnail">
                            <img src="assets/images/Weekly-Issue.jpg" alt="">
                        </div>
                        <div class="card_inner">
                            <div class="card_content">
                                <h4 class="card_title">
                                    عدد الاسبوع
                                </h4>
                                <span class="count_text">1264</span>
                                <span class="date_time">
                                    الثلاثاء، 1 أكتوبر 2024 - 01:10 م
                                </span>
                            </div>
                            <div class="card_actions">
                                <a href="#" class="btn btn_grey btn_icon">
                                    <img src="assets/images/icons/download.svg" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                <div class="card_weekly_issue">
                    <div class="card_body">
                        <div class="card_thumbnail">
                            <img src="assets/images/Weekly-Issue.jpg" alt="">
                        </div>
                        <div class="card_inner">
                            <div class="card_content">
                                <h4 class="card_title">
                                    عدد الاسبوع
                                </h4>
                                <span class="count_text">1264</span>
                                <span class="date_time">
                                    الثلاثاء، 1 أكتوبر 2024 - 01:10 م
                                </span>
                            </div>
                            <div class="card_actions">
                                <a href="#" class="btn btn_grey btn_icon">
                                    <img src="assets/images/icons/download.svg" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                <div class="card_weekly_issue">
                    <div class="card_body">
                        <div class="card_thumbnail">
                            <img src="assets/images/Weekly-Issue.jpg" alt="">
                        </div>
                        <div class="card_inner">
                            <div class="card_content">
                                <h4 class="card_title">
                                    عدد الاسبوع
                                </h4>
                                <span class="count_text">1264</span>
                                <span class="date_time">
                                    الثلاثاء، 1 أكتوبر 2024 - 01:10 م
                                </span>
                            </div>
                            <div class="card_actions">
                                <a href="#" class="btn btn_grey btn_icon">
                                    <img src="assets/images/icons/download.svg" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                <div class="card_weekly_issue">
                    <div class="card_body">
                        <div class="card_thumbnail">
                            <img src="assets/images/Weekly-Issue.jpg" alt="">
                        </div>
                        <div class="card_inner">
                            <div class="card_content">
                                <h4 class="card_title">
                                    عدد الاسبوع
                                </h4>
                                <span class="count_text">1264</span>
                                <span class="date_time">
                                    الثلاثاء، 1 أكتوبر 2024 - 01:10 م
                                </span>
                            </div>
                            <div class="card_actions">
                                <a href="#" class="btn btn_grey btn_icon">
                                    <img src="assets/images/icons/download.svg" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                <div class="card_weekly_issue">
                    <div class="card_body">
                        <div class="card_thumbnail">
                            <img src="assets/images/Weekly-Issue.jpg" alt="">
                        </div>
                        <div class="card_inner">
                            <div class="card_content">
                                <h4 class="card_title">
                                    عدد الاسبوع
                                </h4>
                                <span class="count_text">1264</span>
                                <span class="date_time">
                                    الثلاثاء، 1 أكتوبر 2024 - 01:10 م
                                </span>
                            </div>
                            <div class="card_actions">
                                <a href="#" class="btn btn_grey btn_icon">
                                    <img src="assets/images/icons/download.svg" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Start Pagination -->
        <div class="pagination_container">
            <ul class="pagination">
                <li class="page-item disabled">
                    <a class="page-link page-link-prev" href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" width="6" height="10" viewBox="0 0 6 10">
                            <path id="pagination-previous-icon"
                                d="M3.344-1.172-.378-5,3.344-8.828,2.2-10-2.656-5,2.2,0Z"
                                transform="translate(2.656 10)" />
                        </svg>
                    </a>
                </li>
                <li class="page-item active">
                    <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">2</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">3</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">4</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">5</a>
                </li>
                <li class="page-item">
                    <a class="page-link page-link-next" href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" width="6" height="10" viewBox="0 0 6 10">
                            <path id="pagination-next-icon"
                                d="M-2.656-1.172,1.065-5-2.656-8.828-1.517-10,3.344-5-1.517,0Z"
                                transform="translate(2.656 10)" />
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
        <!-- End Pagination -->
    </div>
</div>
<!-- End Page -->