  <!-- Start Footer -->
  <div class="app-footer">
    <div class="container">
        <div class="footer_top">
            <div class="row mx-0">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <h4>
                        اشترك في نشرتنا الإخبارية
                    </h4>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="form-group custom_field container_subscriptions">
                        <div class="input-group">
                            <input type="email" class="form-control" placeholder="أدخل البريد الإلكتروني"
                                aria-label="Email Address" id="inputEmail" aria-describedby="Email-Address"
                                required>
                            <div class="input-group-append">
                                <button type="button" class="input-group-text btn btn-theme" id="Email-Address">
                                    <img src="assets/images/icons/send-ic.svg" alt="">
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer_middle">
            <div class="company_brief">
                <div class="footer_logo">
                    <img src="assets/images/logo/cairo_moc_logo_original.png" alt="">
                </div>
                <p class="company_desc">
                    جريدة أسبوعية ثقافية تصدر كل ثلاثاء عن وزارة الثقافة المصرية
                </p>
            </div>
            <ul class="navigation_links">
                <li>
                    <a href="#">من نحن</a>
                </li>
                <li>
                    <a href="#">اتصل بنا</a>
                </li>
                <li>
                    <a href="#">الشروط و الأحكام</a>
                </li>
                <li>
                    <a href="#">سياسة الخصوصية</a>
                </li>
            </ul>
        </div>
        <div class="footer_bottom">
            <p>جميع الحقوق محفوظة - القاهرة 2024 ©</p>
            <div class="follow_us">
                <h6>تابعنا على</h6>
                <ul class="social_links">
                    <li>
                        <a href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" width="7.5" height="15" viewBox="0 0 7.5 15">
                                <path id="ic_facebook"
                                    d="M15.275,3.225V6.218H13.768a.663.663,0,0,0-.561.37,1.607,1.607,0,0,0-.175.757V9.211h2.243v3.028H13.032v5.986H10.018V12.239H7.775V9.211h2.243V6.218a3,3,0,0,1,3.014-2.993Z"
                                    transform="translate(-7.775 -3.225)" fill="#fff" />
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15">
                                <path id="ic_instagram"
                                    d="M6.93,3.225h6.338A4.328,4.328,0,0,1,17.6,7.556v6.337a4.328,4.328,0,0,1-4.331,4.331H6.93A4.328,4.328,0,0,1,2.6,13.894V7.556A4.328,4.328,0,0,1,6.93,3.225ZM6.789,4.706A2.705,2.705,0,0,0,4.078,7.415v6.619a2.705,2.705,0,0,0,2.711,2.711h6.619a2.705,2.705,0,0,0,2.711-2.711V7.414A2.705,2.705,0,0,0,13.41,4.706Zm7.253,1.125a1.023,1.023,0,0,1,.652.3.916.916,0,1,1-1.3,0,1.023,1.023,0,0,1,.652-.3ZM10.1,6.956a3.787,3.787,0,1,1-2.659,1.11A3.735,3.735,0,0,1,10.1,6.956Zm0,1.514a2.276,2.276,0,0,0-1.585.669,2.149,2.149,0,0,0-.634,1.585A2.166,2.166,0,0,0,10.1,12.943a2.166,2.166,0,0,0,2.218-2.219,2.15,2.15,0,0,0-.634-1.585A2.276,2.276,0,0,0,10.1,8.471Z"
                                    transform="translate(-2.6 -3.225)" fill="#fff" />
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="14" viewBox="0 0 15 14">
                                <path id="ic_x"
                                    d="M483.977,356.79l5.791,7.722-5.828,6.278h1.312l5.1-5.5,4.122,5.5h4.464l-6.117-8.156,5.425-5.844h-1.312l-4.7,5.062-3.8-5.062Zm1.929.963h2.051l9.055,12.073H494.96Z"
                                    transform="translate(-483.94 -356.79)" fill="#fff" />
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" width="13" height="15" viewBox="0 0 13 15">
                                <path id="tiktok-svgrepo-com"
                                    d="M15.412,5.514A3.587,3.587,0,0,1,12.6,2.331V2H10.031V12.253A2.158,2.158,0,0,1,6.153,13.56h0a2.181,2.181,0,0,1-.045-2.565,2.153,2.153,0,0,1,2.419-.817V7.553a4.714,4.714,0,0,0-4.86,2.564A4.766,4.766,0,0,0,4.5,15.571a4.717,4.717,0,0,0,8.1-3.318V7.015a6.079,6.079,0,0,0,3.56,1.144V5.592A3.584,3.584,0,0,1,15.412,5.514Z"
                                    transform="translate(-3.16 -2)" fill="#fff" />
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="10" viewBox="0 0 15 10">
                                <path id="youtube"
                                    d="M15.988,7.783a5.262,5.262,0,0,0-.62-2.67A2.015,2.015,0,0,0,14.2,4.466a56.264,56.264,0,0,0-5.7-.2A56.325,56.325,0,0,0,2.81,4.46a2,2,0,0,0-.995.478,3.223,3.223,0,0,0-.75,2.23,29.62,29.62,0,0,0,0,4.189,5.881,5.881,0,0,0,.2,1.293,2,2,0,0,0,.484.879,1.985,1.985,0,0,0,1.015.5,32.431,32.431,0,0,0,4.429.213c2.385.032,4.477,0,6.95-.181a2,2,0,0,0,1.043-.5,1.6,1.6,0,0,0,.416-.646,6.518,6.518,0,0,0,.354-2.2C15.988,10.356,15.988,8.171,15.988,7.783ZM6.953,11.105v-4l4.034,2.01C9.855,9.709,8.363,10.381,6.953,11.105Z"
                                    transform="translate(-0.991 -4.258)" fill="#fff" />
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15">
                                <path id="linkedin-icon"
                                    d="M17,3H13.68V-2.625a1.549,1.549,0,0,0-.605-1.133,1.941,1.941,0,0,0-1.27-.469,1.289,1.289,0,0,0-1.074.469,1.962,1.962,0,0,0-.41,1.133V3H7V-7h3.32v1.68a3.082,3.082,0,0,1,1.328-1.094,3.892,3.892,0,0,1,1.6-.391,3.7,3.7,0,0,1,2.656,1.113A3.761,3.761,0,0,1,17-3.055ZM5.32,3H2V-7H5.32ZM3.68-12a1.557,1.557,0,0,1,1.172.488A1.656,1.656,0,0,1,5.32-10.32a1.59,1.59,0,0,1-.469,1.172A1.59,1.59,0,0,1,3.68-8.68a1.656,1.656,0,0,1-1.191-.469A1.557,1.557,0,0,1,2-10.32a1.621,1.621,0,0,1,.488-1.191A1.621,1.621,0,0,1,3.68-12Z"
                                    transform="translate(-2 12)" fill="#fff" />
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="13" viewBox="0 0 15 13">
                                <path id="Path_235" data-name="Path 235"
                                    d="M16.089,4.38,2.746,9.691c-.9.337-.9.927-.164,1.1l3.356,1.1,1.31,4.046c.164.422.082.59.491.59a.843.843,0,0,0,.655-.337L10.031,14.5,13.47,17.11c.655.337,1.064.169,1.228-.59L16.99,5.476C17.236,4.549,16.662,4.043,16.089,4.38ZM14.37,6.91,7.985,12.895l-.246,2.782L6.429,11.63l7.532-4.89C14.288,6.488,14.616,6.657,14.37,6.91Z"
                                    transform="translate(-2.048 -4.276)" fill="#fff" />
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End Footer -->