<header class="app-header">
    <div class="contacts_header">
        <div class="container">
            <div class="contacts_inner">
                <div class="contacts_left">
                    <div class="item_contact">
                        <img src="assets/images/icons/calendar.svg" alt="">
                        <span><span class="day">الثلاثاء،</span> 15 أكتوبر 2024</span>
                    </div>
                    <div class="item_contact">
                        <img src="assets/images/icons/clock.svg" alt="">
                        <span>10:15 <span class="location">ص (توقيت القاهرة)</span></span>
                    </div>
                </div>
                <div class="follow_us">
                    <h6>تابعنا على</h6>
                    <ul class="social_links">
                        <li>
                            <a href="#">
                                <img src="assets/images/icons/ic_facebook.svg" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="assets/images/icons/ic_instagram.svg" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="assets/images/icons/ic_x.svg" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="assets/images/icons/tiktok-svgrepo-com.svg" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="assets/images/icons/youtube.svg" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="assets/images/icons/linkedin-icon.svg" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="assets/images/icons/ic_telegram.svg" alt="">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container container_navbar">
            <div class="header_middle">
                <div class="header_middle_inner container">
                    <a class="navbar-brand" href="index.html">
                        <img src="assets/images/logo/logo.png" alt="">
                    </a>
                    <ul class="header_middle_nav">
                        <li>
                            <span>رئيس مجلس الإدارة</span>
                            <h6>د. أحمد بهي الدين</h6>
                        </li>
                        <li>
                            <span>رئيس التحرير</span>
                            <h6>طارق رضوان</h6>
                        </li>
                    </ul>
                    <!-- dddddd -->
                    <div class="moc_transparent_logo">
                        <img src="assets/images/moc_transparent_logo.png" alt="">
                    </div>
                </div>
            </div>
            <button class="navbar-toggler toggle_menu_bar" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="sub_header container">
                <div class="collapse navbar-collapse" id="main_menu">
                    <ul class="navbar-nav title_tabs">
                        <li class="nav-item title_categ">
                            <a class="nav-link">
                                القائمه
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active anchorLink" href="index.html">
                                الرئيسيه
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link anchorLink" href="articles.html">
                                ابرز المقالات
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                فئات الاخبار
                            </a>
                            <div class="dropdown-menu min_width_255" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">
                                    أخبار أدبية
                                </a>
                                <a class="dropdown-item" href="#">
                                    أخبار فنية
                                </a>
                                <a class="dropdown-item" href="#">
                                    أخبار سينما ومسرح
                                </a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                اخبار قطاعات الوزارة
                            </a>
                            <div class="dropdown-menu min_width_255" aria-labelledby="navbarDropdown">

                                <div class="dropdown_grid">
                                    <div class="dropdown_col">
                                        <a class="dropdown-item" href="main-category-details.html">
                                            المجلس الاعلى للثقافة
                                        </a>
                                        <a class="dropdown-item" href="main-category-details.html">
                                            اكاديمية الفنون
                                        </a>
                                        <a class="dropdown-item" href="main-category-details.html">
                                            الهيئة العامة لقصور الثقافة
                                        </a>
                                        <a class="dropdown-item" href="main-category-details.html">
                                            الهيئة العامة لدار الكتب والوثائق القومية
                                        </a>
                                        <a class="dropdown-item" href="main-category-details.html">
                                            الهيئة المصرية العامة للكتاب
                                        </a>
                                        <a class="dropdown-item" href="main-category-details.html">
                                            صندوق التنمية الثقافية
                                        </a>
                                        <a class="dropdown-item" href="main-category-details.html">
                                            المركز القومي للترجمة
                                        </a>
                                    </div>

                                    <div class="dropdown_col">
                                        <a class="dropdown-item" href="main-category-details.html">
                                            قطاع شئون الانتاج الثقافي
                                        </a>

                                        <a class="dropdown-item" href="main-category-details.html">
                                            قطاع الفنون التشكيلية
                                        </a>

                                        <a class="dropdown-item" href="main-category-details.html">
                                            المركز الثقافي القومي-دار الاوبرا
                                        </a>

                                        <a class="dropdown-item" href="main-category-details.html">
                                            الجهاز القومي للتنسيق الحضاري
                                        </a>
                                        <a class="dropdown-item" href="main-category-details.html">
                                            العلاقات الثقافية الخارجية
                                        </a>
                                        <a class="dropdown-item" href="main-category-details.html">
                                            الاكاديمية المصرية للفنون بروما
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link anchorLink" href="#sec_ranks">
                                المزيد
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="accessibility_options_header">
                    <ul class="navbar-nav dropdown_lang">
                        <li class="nav-item dropdown dropdow_language">
                            <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                <span>En</span>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">
                                    English
                                </a>
                                <a class="dropdown-item" href="#">
                                    العربية
                                </a>
                            </div>
                        </li>
                        <li class="nav-item dropdown dropdow_search">
                            <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                <img src="assets/images/icons/search.svg" alt="">
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <input type="text" class="form-control" placeholder="بحث ...">
                            </div>
                        </li>
                    </ul>
                    <button class="btn btn_accessibility" type="button">
                        <img src="assets/images/icons/ic_accessibility.svg" alt="">
                    </button>
                    <div class="search_group">
                        <input type="text" class="form-control" placeholder="بحث ...">
                    </div>
                </div>
            </div>
            <div class="overlay_sidebar toggle_menu_bar"></div>
        </div>
    </nav>
</header>