<!-- Start section 1 -->
<section class="section_hero_area">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 col-lg-9 col-md-12">
                <owl-carousel-o [options]="customOptions" id="home-carousel"
                    class="owl-carousel owl-theme owl-loaded owl-drag" data-items="1" data-medium="1"
                    data-smallmedium="1" data-slidespeed="500" data-extrasmall="1" data-dots="true" data-nav="false"
                    data-loop="true" data-autoplay="true" data-margin="5">
                    <ng-template carouselSlide class="item-carousel">
                        <figure class="thumbnail">
                            <img src="assets/images/Image.jpg" alt="">
                        </figure>
                        <div class="content_item_carousel">
                            <h6>فن و ثقافة</h6>
                            <a href="news-details.html" class="desc limited-lines" data-line-count="2">
                                وزير الثقافة يفتتح معرض `تواصل الأجيال` بقاعة أفق 1 بمتحف محمد محمود خليل وحرمه
                            </a>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide class="item-carousel">
                        <figure class="thumbnail">
                            <img src="assets/images/Image.jpg" alt="">
                        </figure>
                        <div class="content_item_carousel">
                            <h6>فن و ثقافة</h6>
                            <a href="news-details.html" class="desc limited-lines" data-line-count="2">
                                وزير الثقافة يفتتح معرض `تواصل الأجيال` بقاعة أفق 1 بمتحف محمد محمود خليل وحرمه
                            </a>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide class="item-carousel">
                        <figure class="thumbnail">
                            <img src="assets/images/Image.jpg" alt="">
                        </figure>
                        <div class="content_item_carousel">
                            <h6>فن و ثقافة</h6>
                            <a href="news-details.html" class="desc limited-lines" data-line-count="2">
                                وزير الثقافة يفتتح معرض `تواصل الأجيال` بقاعة أفق 1 بمتحف محمد محمود خليل وحرمه
                            </a>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide class="item-carousel">
                        <figure class="thumbnail">
                            <img src="assets/images/Image.jpg" alt="">
                        </figure>
                        <div class="content_item_carousel">
                            <h6>فن و ثقافة</h6>
                            <a href="news-details.html" class="desc limited-lines" data-line-count="2">
                                وزير الثقافة يفتتح معرض `تواصل الأجيال` بقاعة أفق 1 بمتحف محمد محمود خليل وحرمه
                            </a>
                        </div>
                    </ng-template>
                </owl-carousel-o>

            </div>
            <div class="col-xl-3 col-lg-3 col-md-12">
                <div class="card_newspaper_edition">
                    <div class="card_body">
                        <div class="card_content">
                            <h6 class="title">
                                حاليا لدى الباعة
                            </h6>
                            <p class="desc">
                                عدد الاسبوع
                            </p>
                            <span class="badge">
                                1264
                            </span>
                        </div>
                        <div class="card_thumbnail">
                            <img src="assets/images/newspaper-mockup.png" alt="">
                        </div>
                        <div class="card_actions">
                            <button type="button" class="btn btn-theme w-100">
                                تحميل العدد
                            </button>
                            <button type="button" class="btn btn_secondary w-100">
                                تحميل العدد
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End section -->

<!-- Start section 2 -->
<section class="section_art_culture">
    <div class="section_inner container">
        <div class="section_has_slide_card">
            <div class="section_head">
                <h4 class="heading_feature">
                    فن و ثقافة
                </h4>
            </div>
            <owl-carousel-o [options]="customOptions2" class="owl-carousel owl-theme owl-loaded owl-drag" data-margin="30" data-stagepadding="0"
                data-items="1" data-xlarge="3" data-large="3" data-smalldesktop="2" data-medium="1" data-smallmedium="2"
                data-slidespeed="500" data-extrasmall="1" data-dots="false" data-nav="true" data-loop="false"
                data-autoplay="false">
                <ng-template carouselSlide class="item-carousel">
                    <div class="card_news">
                        <figure class="card_thumbnail">
                            <img src="assets/images/Image.jpg" alt="">
                        </figure>
                        <div class="card_news_content">
                            <a href="news-details.html" class="card_title limited-lines" data-line-count="2">
                                وزير الثقافة من مؤتمر الشارقة للذكاء الاصطناعي: علينا حماية الهوية في مواجهة
                                تحديات
                                المستقبل
                            </a>
                            <p class="limited-lines" data-line-count="2">
                                شارك الدكتور أحمد فؤاد هنو، وزير الثقافة، في الجلسة الخامسة لمؤتمر الشارقة الدولي
                                للذكاء
                                الاصطناعي واللغويات تحت عنوان "تعزيز البحث اللغوي من خلال الدعم والتعاون وتبادل
                                الخبرة بين الذكاء البشري والذكاء الاصطناعي".
                            </p>
                            <span class="date_time">منذ ساعة واحدة</span>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide class="item-carousel">
                    <div class="card_news">
                        <figure class="card_thumbnail">
                            <img src="assets/images/Image.jpg" alt="">
                        </figure>
                        <div class="card_news_content">
                            <a href="news-details.html" class="card_title limited-lines" data-line-count="2">
                                وزير الثقافة من مؤتمر الشارقة للذكاء الاصطناعي: علينا حماية الهوية في مواجهة
                                تحديات
                                المستقبل
                            </a>
                            <p class="limited-lines" data-line-count="2">
                                شارك الدكتور أحمد فؤاد هنو، وزير الثقافة، في الجلسة الخامسة لمؤتمر الشارقة الدولي
                                للذكاء
                                الاصطناعي واللغويات تحت عنوان "تعزيز البحث اللغوي من خلال الدعم والتعاون وتبادل
                                الخبرة بين الذكاء البشري والذكاء الاصطناعي".
                            </p>
                            <span class="date_time">منذ ساعة واحدة</span>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide class="item-carousel">
                    <div class="card_news">
                        <figure class="card_thumbnail">
                            <img src="assets/images/Image.jpg" alt="">
                        </figure>
                        <div class="card_news_content">
                            <a href="news-details.html" class="card_title limited-lines" data-line-count="2">
                                وزير الثقافة من مؤتمر الشارقة للذكاء الاصطناعي: علينا حماية الهوية في مواجهة
                                تحديات
                                المستقبل
                            </a>
                            <p class="limited-lines" data-line-count="2">
                                شارك الدكتور أحمد فؤاد هنو، وزير الثقافة، في الجلسة الخامسة لمؤتمر الشارقة الدولي
                                للذكاء
                                الاصطناعي واللغويات تحت عنوان "تعزيز البحث اللغوي من خلال الدعم والتعاون وتبادل
                                الخبرة بين الذكاء البشري والذكاء الاصطناعي".
                            </p>
                            <span class="date_time">منذ ساعة واحدة</span>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide class="item-carousel">
                    <div class="card_news">
                        <figure class="card_thumbnail">
                            <img src="assets/images/Image.jpg" alt="">
                        </figure>
                        <div class="card_news_content">
                            <a href="news-details.html" class="card_title limited-lines" data-line-count="2">
                                وزير الثقافة من مؤتمر الشارقة للذكاء الاصطناعي: علينا حماية الهوية في مواجهة
                                تحديات
                                المستقبل
                            </a>
                            <p class="limited-lines" data-line-count="2">
                                شارك الدكتور أحمد فؤاد هنو، وزير الثقافة، في الجلسة الخامسة لمؤتمر الشارقة الدولي
                                للذكاء
                                الاصطناعي واللغويات تحت عنوان "تعزيز البحث اللغوي من خلال الدعم والتعاون وتبادل
                                الخبرة بين الذكاء البشري والذكاء الاصطناعي".
                            </p>
                            <span class="date_time">منذ ساعة واحدة</span>
                        </div>
                    </div>
                </ng-template>
            </owl-carousel-o>
            <div class="section_actions">
                <a href="main-category-details.html" class="btn btn_yellow">
                    عرض المزيد
                </a>
            </div>
        </div>
    </div>
</section>
<!-- End section -->

<!-- Start section 3 -->
<section class="section_ministry_news">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-12 mb-3">
                <div class="section-toolbar">
                    <div class="side-left">
                        <h4 class="title-section-page">
                            أخبار أدبية
                        </h4>
                    </div>
                    <div class="side-right">
                        <a href="main-category-details.html" class="btn btn_link p-0">
                            المزيد
                        </a>
                    </div>
                </div>
                <div class="custom_card">
                    <div class="custom_media">
                        <div class="media_body">
                            <figure class="media_thumbnail">
                                <img src="assets/images/Image.jpg" alt="">
                            </figure>
                            <div class="media_content">
                                <a href="news-details.html" class="desc limited-lines" data-line-count="2">
                                    استجابة لطلب العديد من الفنانين الشباب تم مد فترة التقديم للدورة (35) من
                                    صالون
                                    الشباب
                                </a>
                                <span class="date_time">
                                    منذ 3 ساعات
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="custom_media">
                        <div class="media_body">
                            <figure class="media_thumbnail">
                                <img src="assets/images/Image.jpg" alt="">
                            </figure>
                            <div class="media_content">
                                <a href="news-details.html" class="desc limited-lines" data-line-count="2">
                                    استجابة لطلب العديد من الفنانين الشباب تم مد فترة التقديم للدورة (35) من
                                    صالون
                                    الشباب
                                </a>
                                <span class="date_time">
                                    منذ 3 ساعات
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="custom_media">
                        <div class="media_body">
                            <figure class="media_thumbnail">
                                <img src="assets/images/Image.jpg" alt="">
                            </figure>
                            <div class="media_content">
                                <a href="news-details.html" class="desc limited-lines" data-line-count="2">
                                    استجابة لطلب العديد من الفنانين الشباب تم مد فترة التقديم للدورة (35) من
                                    صالون
                                    الشباب
                                </a>
                                <span class="date_time">
                                    منذ 3 ساعات
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="custom_media">
                        <div class="media_body">
                            <figure class="media_thumbnail">
                                <img src="assets/images/Image.jpg" alt="">
                            </figure>
                            <div class="media_content">
                                <a href="news-details.html" class="desc limited-lines" data-line-count="2">
                                    استجابة لطلب العديد من الفنانين الشباب تم مد فترة التقديم للدورة (35) من
                                    صالون
                                    الشباب
                                </a>
                                <span class="date_time">
                                    منذ 3 ساعات
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-12 mb-3">
                <div class="section-toolbar">
                    <div class="side-left">
                        <h4 class="title-section-page">
                            أخبار فنية
                        </h4>
                    </div>
                    <div class="side-right">
                        <a href="main-category-details.html" class="btn btn_link p-0">
                            المزيد
                        </a>
                    </div>
                </div>
                <div class="custom_card">
                    <div class="custom_media">
                        <div class="media_body">
                            <figure class="media_thumbnail">
                                <img src="assets/images/Image.jpg" alt="">
                            </figure>
                            <div class="media_content">
                                <a href="news-details.html" class="desc limited-lines" data-line-count="2">
                                    استجابة لطلب العديد من الفنانين الشباب تم مد فترة التقديم للدورة (35) من
                                    صالون
                                    الشباب
                                </a>
                                <span class="date_time">
                                    منذ 3 ساعات
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="custom_media">
                        <div class="media_body">
                            <figure class="media_thumbnail">
                                <img src="assets/images/Image.jpg" alt="">
                            </figure>
                            <div class="media_content">
                                <a href="news-details.html" class="desc limited-lines" data-line-count="2">
                                    استجابة لطلب العديد من الفنانين الشباب تم مد فترة التقديم للدورة (35) من
                                    صالون
                                    الشباب
                                </a>
                                <span class="date_time">
                                    منذ 3 ساعات
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="custom_media">
                        <div class="media_body">
                            <figure class="media_thumbnail">
                                <img src="assets/images/Image.jpg" alt="">
                            </figure>
                            <div class="media_content">
                                <a href="news-details.html" class="desc limited-lines" data-line-count="2">
                                    استجابة لطلب العديد من الفنانين الشباب تم مد فترة التقديم للدورة (35) من
                                    صالون
                                    الشباب
                                </a>
                                <span class="date_time">
                                    منذ 3 ساعات
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-12 mb-3">
                <div class="section-toolbar">
                    <div class="side-left">
                        <h4 class="title-section-page">
                            أخبار سينما ومسرح
                        </h4>
                    </div>
                    <div class="side-right">
                        <a href="main-category-details.html" class="btn btn_link p-0">
                            المزيد
                        </a>
                    </div>
                </div>
                <div class="custom_card">
                    <div class="custom_media">
                        <div class="media_body">
                            <figure class="media_thumbnail">
                                <img src="assets/images/Image.jpg" alt="">
                            </figure>
                            <div class="media_content">
                                <a href="news-details.html" class="desc limited-lines" data-line-count="2">
                                    استجابة لطلب العديد من الفنانين الشباب تم مد فترة التقديم للدورة (35) من
                                    صالون
                                    الشباب
                                </a>
                                <span class="date_time">
                                    منذ 3 ساعات
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="custom_media">
                        <div class="media_body">
                            <figure class="media_thumbnail">
                                <img src="assets/images/Image.jpg" alt="">
                            </figure>
                            <div class="media_content">
                                <a href="news-details.html" class="desc limited-lines" data-line-count="2">
                                    استجابة لطلب العديد من الفنانين الشباب تم مد فترة التقديم للدورة (35) من
                                    صالون
                                    الشباب
                                </a>
                                <span class="date_time">
                                    منذ 3 ساعات
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="custom_media">
                        <div class="media_body">
                            <figure class="media_thumbnail">
                                <img src="assets/images/Image.jpg" alt="">
                            </figure>
                            <div class="media_content">
                                <a href="news-details.html" class="desc limited-lines" data-line-count="2">
                                    استجابة لطلب العديد من الفنانين الشباب تم مد فترة التقديم للدورة (35) من
                                    صالون
                                    الشباب
                                </a>
                                <span class="date_time">
                                    منذ 3 ساعات
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End section -->

  <!-- Start section 4 -->
  <section class="section_videos">
    <div class="container ">
        <div class="section_has_slide_card">
            <div class="section_head">
                <h4 class="heading_feature">
                    فيديوهات
                </h4>
            </div>
            <owl-carousel-o [options]="customOptions3" class="owl-carousel owl-theme owl-loaded owl-drag" data-margin="30" data-stagepadding="0"
                data-items="1" data-slidespeed="500" data-extrasmall="1" data-smallmedium="1" data-dots="false"
                data-nav="true" data-loop="false" data-autoplay="false">
                <ng-template carouselSlide class="item-carousel">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="card_video mb-4">
                                <div class="card_overlay">
                                    <img src="assets/images/icons/ic_play.svg" alt="ic_play">
                                </div>
                                <figure class="card_thumbnail">
                                    <img src="assets/images/Image.jpg" alt="">
                                </figure>
                                <div class="card_video_content">
                                    <p>
                                        فى عيد ميلاد الفنان #عادل_امام كل سنة وانت زعيم فى العدد 1245 / الثلاثاء 28
                                        مايو
                                        2024
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="card_video small_card mb-4">
                                <div class="card_overlay">
                                    <img src="assets/images/icons/ic_play.svg" alt="ic_play">
                                </div>
                                <figure class="card_thumbnail">
                                    <img src="assets/images/Image.jpg" alt="">
                                </figure>
                                <div class="card_video_content">
                                    <p>
                                        #حاليا لدى الباعة عدد الاسبوع 1264 الثلاثاء 8 أكتوبر 2024
                                    </p>
                                </div>
                            </div>
                            <div class="card_video small_card">
                                <div class="card_overlay">
                                    <img src="assets/images/icons/ic_play.svg" alt="ic_play">
                                </div>
                                <figure class="card_thumbnail">
                                    <img src="assets/images/Image.jpg" alt="">
                                </figure>
                                <div class="card_video_content">
                                    <p>
                                        وداعا النحات المصري الكبير #حازم_المستكاوي
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide class="item-carousel">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="card_video mb-4">
                                <div class="card_overlay">
                                    <img src="assets/images/icons/ic_play.svg" alt="ic_play">
                                </div>
                                <figure class="card_thumbnail">
                                    <img src="assets/images/Image.jpg" alt="">
                                </figure>
                                <div class="card_video_content">
                                    <p>
                                        فى عيد ميلاد الفنان #عادل_امام كل سنة وانت زعيم فى العدد 1245 / الثلاثاء 28
                                        مايو
                                        2024
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="card_video small_card mb-4">
                                <div class="card_overlay">
                                    <img src="assets/images/icons/ic_play.svg" alt="ic_play">
                                </div>
                                <figure class="card_thumbnail">
                                    <img src="assets/images/Image.jpg" alt="">
                                </figure>
                                <div class="card_video_content">
                                    <p>
                                        #حاليا لدى الباعة عدد الاسبوع 1264 الثلاثاء 8 أكتوبر 2024
                                    </p>
                                </div>
                            </div>
                            <div class="card_video small_card">
                                <div class="card_overlay">
                                    <img src="assets/images/icons/ic_play.svg" alt="ic_play">
                                </div>
                                <figure class="card_thumbnail">
                                    <img src="assets/images/Image.jpg" alt="">
                                </figure>
                                <div class="card_video_content">
                                    <p>
                                        وداعا النحات المصري الكبير #حازم_المستكاوي
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </owl-carousel-o>
            <div class="section_actions">
                <button type="button" class="btn btn_yellow">
                    عرض المزيد
                </button>
            </div>
        </div>
    </div>
</section>
<!-- End section -->

   <!-- Start section 5 -->
   <section class="section_articles_writers">
    <div class="section_inner container">
        <div class="section_has_slide_card">
            <div class="section_head">
                <h4 class="heading_feature">
                    تابع ابرز الكتاب
                </h4>
            </div>
            <owl-carousel-o [options]="customOptions4" class="owl-carousel owl-theme owl-loaded owl-drag" data-margin="30" data-stagepadding="0"
                data-items="2" data-xlarge="6" data-large="6" data-smalldesktop="6" data-medium="5"
                data-smallmedium="4" data-slidespeed="500" data-extrasmall="1" data-dots="false" data-nav="true"
                data-loop="false" data-autoplay="false">
                <div class="item-carousel">
                    <div class="author_container">
                        <figure class="img_thumbnail">
                            <img src="assets/images/Avatar-Mask.jpg" alt="">
                        </figure>
                        <h4 class="name">
                            <a href="author-articles.html">
                                مصطفى رحمة
                            </a>
                        </h4>
                    </div>
                </div>
                <ng-template carouselSlide class="item-carousel">
                    <div class="author_container">
                        <figure class="img_thumbnail">
                            <img src="assets/images/Avatar-Mask.jpg" alt="">
                        </figure>
                        <h4 class="name">
                            <a href="author-articles.html">
                                مصطفى رحمة
                            </a>
                        </h4>
                    </div>
                </ng-template>
                <ng-template carouselSlide class="item-carousel">
                    <div class="author_container">
                        <figure class="img_thumbnail">
                            <img src="assets/images/Avatar-Mask.jpg" alt="">
                        </figure>
                        <h4 class="name">
                            <a href="author-articles.html">
                                مصطفى رحمة
                            </a>
                        </h4>
                    </div>
                </ng-template>
                <ng-template carouselSlide class="item-carousel">
                    <div class="author_container">
                        <figure class="img_thumbnail">
                            <img src="assets/images/Avatar-Mask.jpg" alt="">
                        </figure>
                        <h4 class="name">
                            <a href="author-articles.html">
                                مصطفى رحمة
                            </a>
                        </h4>
                    </div>
                </ng-template>
                <ng-template carouselSlide class="item-carousel">
                    <div class="author_container">
                        <figure class="img_thumbnail">
                            <img src="assets/images/Avatar-Mask.jpg" alt="">
                        </figure>
                        <h4 class="name">
                            <a href="author-articles.html">
                                مصطفى رحمة
                            </a>
                        </h4>
                    </div>
                </ng-template>
                <ng-template carouselSlide class="item-carousel">
                    <div class="author_container">
                        <figure class="img_thumbnail">
                            <img src="assets/images/Avatar-Mask.jpg" alt="">
                        </figure>
                        <h4 class="name">
                            <a href="author-articles.html">
                                مصطفى رحمة
                            </a>
                        </h4>
                    </div>
                </ng-template>
                <ng-template carouselSlide class="item-carousel">
                    <div class="author_container">
                        <figure class="img_thumbnail">
                            <img src="assets/images/Avatar-Mask.jpg" alt="">
                        </figure>
                        <h4 class="name">
                            <a href="author-articles.html">
                                مصطفى رحمة
                            </a>
                        </h4>
                    </div>
                </ng-template>
            </owl-carousel-o>
            <div class="section_actions">
                <a href="authors-articles.html" class="btn btn_yellow">
                    عرض الجميع
                </a>
            </div>
        </div>
    </div>
</section>
<!-- End section -->

  <!-- Start section 6 -->
  <section class="section_articles">
    <div class="section_inner container">
        <div class="section_has_slide_card">
            <div class="section_head">
                <h4 class="heading_feature">
                    مقالات
                </h4>
            </div>
            <owl-carousel-o [options]="customOptions5" class="owl-carousel owl-theme owl-loaded owl-drag" data-margin="30" data-stagepadding="0"
                data-items="2" data-xlarge="3" data-large="3" data-smalldesktop="3" data-medium="2"
                data-smallmedium="2" data-slidespeed="500" data-extrasmall="1" data-dots="false" data-nav="true"
                data-loop="false" data-autoplay="false">
                <ng-template carouselSlide class="item-carousel">
                    <div class="card_articel_horizontal">
                        <div class="card_inner">
                            <figure class="card_thumbnail">
                                <img src="assets/images/article.jpg" alt="">
                            </figure>
                            <div class="card_content">
                                <a href="author-article-details.html" class="desc limited-lines"
                                    data-line-count="2">
                                    الصمت موت «قلها ومتْ
                                    فالقول ليس ما يقوله السلطا ن والأمير وليس تلك الضحكة
                                </a>
                                <div class="auther_horizontal">
                                    <figure class="img_thumbnail">
                                        <img src="assets/images/Image.jpg" alt="">
                                    </figure>
                                    <div class="auther_horizontal_content">
                                        <h5 class="name">
                                            مصطفى رحمة
                                        </h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card_articel_horizontal">
                        <div class="card_inner">
                            <figure class="card_thumbnail">
                                <img src="assets/images/article.jpg" alt="">
                            </figure>
                            <div class="card_content">
                                <a href="author-article-details.html" class="desc limited-lines"
                                    data-line-count="2">
                                    الصمت موت «قلها ومتْ
                                    فالقول ليس ما يقوله السلطا ن والأمير وليس تلك الضحكة
                                </a>
                                <div class="auther_horizontal">
                                    <figure class="img_thumbnail">
                                        <img src="assets/images/Image.jpg" alt="">
                                    </figure>
                                    <div class="auther_horizontal_content">
                                        <h5 class="name">
                                            مصطفى رحمة
                                        </h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide class="item-carousel">
                    <div class="card_articel_horizontal">
                        <div class="card_inner">
                            <figure class="card_thumbnail">
                                <img src="assets/images/article.jpg" alt="">
                            </figure>
                            <div class="card_content">
                                <a href="author-article-details.html" class="desc limited-lines"
                                    data-line-count="2">
                                    الصمت موت «قلها ومتْ
                                    فالقول ليس ما يقوله السلطا ن والأمير وليس تلك الضحكة
                                </a>
                                <div class="auther_horizontal">
                                    <figure class="img_thumbnail">
                                        <img src="assets/images/Image.jpg" alt="">
                                    </figure>
                                    <div class="auther_horizontal_content">
                                        <h5 class="name">
                                            مصطفى رحمة
                                        </h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card_articel_horizontal">
                        <div class="card_inner">
                            <figure class="card_thumbnail">
                                <img src="assets/images/article.jpg" alt="">
                            </figure>
                            <div class="card_content">
                                <a href="author-article-details.html" class="desc limited-lines"
                                    data-line-count="2">
                                    الصمت موت «قلها ومتْ
                                    فالقول ليس ما يقوله السلطا ن والأمير وليس تلك الضحكة
                                </a>
                                <div class="auther_horizontal">
                                    <figure class="img_thumbnail">
                                        <img src="assets/images/Image.jpg" alt="">
                                    </figure>
                                    <div class="auther_horizontal_content">
                                        <h5 class="name">
                                            مصطفى رحمة
                                        </h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide class="item-carousel">
                    <div class="card_articel_horizontal">
                        <div class="card_inner">
                            <figure class="card_thumbnail">
                                <img src="assets/images/article.jpg" alt="">
                            </figure>
                            <div class="card_content">
                                <a href="author-article-details.html" class="desc limited-lines"
                                    data-line-count="2">
                                    الصمت موت «قلها ومتْ
                                    فالقول ليس ما يقوله السلطا ن والأمير وليس تلك الضحكة
                                </a>
                                <div class="auther_horizontal">
                                    <figure class="img_thumbnail">
                                        <img src="assets/images/Image.jpg" alt="">
                                    </figure>
                                    <div class="auther_horizontal_content">
                                        <h5 class="name">
                                            مصطفى رحمة
                                        </h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card_articel_horizontal">
                        <div class="card_inner">
                            <figure class="card_thumbnail">
                                <img src="assets/images/article.jpg" alt="">
                            </figure>
                            <div class="card_content">
                                <a href="author-article-details.html" class="desc limited-lines"
                                    data-line-count="2">
                                    الصمت موت «قلها ومتْ
                                    فالقول ليس ما يقوله السلطا ن والأمير وليس تلك الضحكة
                                </a>
                                <div class="auther_horizontal">
                                    <figure class="img_thumbnail">
                                        <img src="assets/images/Image.jpg" alt="">
                                    </figure>
                                    <div class="auther_horizontal_content">
                                        <h5 class="name">
                                            مصطفى رحمة
                                        </h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide class="item-carousel">
                    <div class="card_articel_horizontal">
                        <div class="card_inner">
                            <figure class="card_thumbnail">
                                <img src="assets/images/article.jpg" alt="">
                            </figure>
                            <div class="card_content">
                                <a href="author-article-details.html" class="desc limited-lines"
                                    data-line-count="2">
                                    الصمت موت «قلها ومتْ
                                    فالقول ليس ما يقوله السلطا ن والأمير وليس تلك الضحكة
                                </a>
                                <div class="auther_horizontal">
                                    <figure class="img_thumbnail">
                                        <img src="assets/images/Image.jpg" alt="">
                                    </figure>
                                    <div class="auther_horizontal_content">
                                        <h5 class="name">
                                            مصطفى رحمة
                                        </h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card_articel_horizontal">
                        <div class="card_inner">
                            <figure class="card_thumbnail">
                                <img src="assets/images/article.jpg" alt="">
                            </figure>
                            <div class="card_content">
                                <a href="author-article-details.html" class="desc limited-lines"
                                    data-line-count="2">
                                    الصمت موت «قلها ومتْ
                                    فالقول ليس ما يقوله السلطا ن والأمير وليس تلك الضحكة
                                </a>
                                <div class="auther_horizontal">
                                    <figure class="img_thumbnail">
                                        <img src="assets/images/Image.jpg" alt="">
                                    </figure>
                                    <div class="auther_horizontal_content">
                                        <h5 class="name">
                                            مصطفى رحمة
                                        </h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide class="item-carousel">
                    <div class="card_articel_horizontal">
                        <div class="card_inner">
                            <figure class="card_thumbnail">
                                <img src="assets/images/article.jpg" alt="">
                            </figure>
                            <div class="card_content">
                                <a href="author-article-details.html" class="desc limited-lines"
                                    data-line-count="2">
                                    الصمت موت «قلها ومتْ
                                    فالقول ليس ما يقوله السلطا ن والأمير وليس تلك الضحكة
                                </a>
                                <div class="auther_horizontal">
                                    <figure class="img_thumbnail">
                                        <img src="assets/images/Image.jpg" alt="">
                                    </figure>
                                    <div class="auther_horizontal_content">
                                        <h5 class="name">
                                            مصطفى رحمة
                                        </h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card_articel_horizontal">
                        <div class="card_inner">
                            <figure class="card_thumbnail">
                                <img src="assets/images/article.jpg" alt="">
                            </figure>
                            <div class="card_content">
                                <a href="author-article-details.html" class="desc limited-lines"
                                    data-line-count="2">
                                    الصمت موت «قلها ومتْ
                                    فالقول ليس ما يقوله السلطا ن والأمير وليس تلك الضحكة
                                </a>
                                <div class="auther_horizontal">
                                    <figure class="img_thumbnail">
                                        <img src="assets/images/Image.jpg" alt="">
                                    </figure>
                                    <div class="auther_horizontal_content">
                                        <h5 class="name">
                                            مصطفى رحمة
                                        </h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </owl-carousel-o>
            <div class="section_actions">
                <a href="articles.html" class="btn btn_yellow">
                    عرض الجميع
                </a>
            </div>
        </div>
    </div>
</section>
<!-- End section -->