    <!-- Start Breadcrumb -->
    <div class="breadcrumb_container">
        <div class="container">
            <div class="breadcrumb_inner">
                <h4 class="page_title">مقالات</h4>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="#">الرئيسية</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">
                        مقالات
                    </li>
                </ol>
            </div>
        </div>
    </div>
    <!-- End Breadcrumb -->

    <!-- Start Page -->
    <div class="page_filter">
        <div class="container">
            <div class="row">
                <div class="col-xl-8 col-lg-7 col-md-12">
                    <div class="card_article">
                        <div class="card_body">
                            <div class="card_conent">
                                <span class="date_time">
                                    الجمعة 18 أكتوبر 2024 - 01:10 م
                                </span>
                                <h4>
                                    <a href="#">
                                        رحلة 404 والطريق إلى الأوسكار
                                    </a>
                                </h4>
                                <p class="limited-lines" data-line-count="2">
                                    اختارت اللجنة المشكلة من نقابة المهن السينمائية فيلم (رحلة 404) لتمثيل مصر في مسابقة
                                    الأوسكار للفيلم غير الناطق بالإنجليزية، لم اشارك في الاختيار هذا العام، لكن من واقع
                                    مشاركتى
                                </p>
                                <div class="auther_horizontal img_md">
                                    <figure class="img_thumbnail">
                                        <img src="assets/images/Image.jpg" alt="">
                                    </figure>
                                    <div class="auther_horizontal_content">
                                        <h5 class="name">
                                            مصطفى رحمة
                                        </h5>
                                    </div>
                                </div>
                            </div>
                            <figure class="card_thumbnail">
                                <img src="assets/images/Image.jpg" alt="">
                            </figure>
                        </div>
                    </div>
                    <div class="card_article">
                        <div class="card_body">
                            <div class="card_conent">
                                <span class="date_time">
                                    الجمعة 18 أكتوبر 2024 - 01:10 م
                                </span>
                                <h4>
                                    <a href="#">
                                        رحلة 404 والطريق إلى الأوسكار
                                    </a>
                                </h4>
                                <p class="limited-lines" data-line-count="2">
                                    اختارت اللجنة المشكلة من نقابة المهن السينمائية فيلم (رحلة 404) لتمثيل مصر في مسابقة
                                    الأوسكار للفيلم غير الناطق بالإنجليزية، لم اشارك في الاختيار هذا العام، لكن من واقع
                                    مشاركتى
                                </p>
                                <div class="auther_horizontal img_md">
                                    <figure class="img_thumbnail">
                                        <img src="assets/images/Image.jpg" alt="">
                                    </figure>
                                    <div class="auther_horizontal_content">
                                        <h5 class="name">
                                            مصطفى رحمة
                                        </h5>
                                    </div>
                                </div>
                            </div>
                            <figure class="card_thumbnail">
                                <img src="assets/images/Image.jpg" alt="">
                            </figure>
                        </div>
                    </div>
                    <div class="card_article">
                        <div class="card_body">
                            <div class="card_conent">
                                <span class="date_time">
                                    الجمعة 18 أكتوبر 2024 - 01:10 م
                                </span>
                                <h4>
                                    <a href="#">
                                        رحلة 404 والطريق إلى الأوسكار
                                    </a>
                                </h4>
                                <p class="limited-lines" data-line-count="2">
                                    اختارت اللجنة المشكلة من نقابة المهن السينمائية فيلم (رحلة 404) لتمثيل مصر في مسابقة
                                    الأوسكار للفيلم غير الناطق بالإنجليزية، لم اشارك في الاختيار هذا العام، لكن من واقع
                                    مشاركتى
                                </p>
                                <div class="auther_horizontal img_md">
                                    <figure class="img_thumbnail">
                                        <img src="assets/images/Image.jpg" alt="">
                                    </figure>
                                    <div class="auther_horizontal_content">
                                        <h5 class="name">
                                            مصطفى رحمة
                                        </h5>
                                    </div>
                                </div>
                            </div>
                            <figure class="card_thumbnail">
                                <img src="assets/images/Image.jpg" alt="">
                            </figure>
                        </div>
                    </div>
                    <div class="card_article">
                        <div class="card_body">
                            <div class="card_conent">
                                <span class="date_time">
                                    الجمعة 18 أكتوبر 2024 - 01:10 م
                                </span>
                                <h4>
                                    <a href="#">
                                        رحلة 404 والطريق إلى الأوسكار
                                    </a>
                                </h4>
                                <p class="limited-lines" data-line-count="2">
                                    اختارت اللجنة المشكلة من نقابة المهن السينمائية فيلم (رحلة 404) لتمثيل مصر في مسابقة
                                    الأوسكار للفيلم غير الناطق بالإنجليزية، لم اشارك في الاختيار هذا العام، لكن من واقع
                                    مشاركتى
                                </p>
                                <div class="auther_horizontal img_md">
                                    <figure class="img_thumbnail">
                                        <img src="assets/images/Image.jpg" alt="">
                                    </figure>
                                    <div class="auther_horizontal_content">
                                        <h5 class="name">
                                            مصطفى رحمة
                                        </h5>
                                    </div>
                                </div>
                            </div>
                            <figure class="card_thumbnail">
                                <img src="assets/images/Image.jpg" alt="">
                            </figure>
                        </div>
                    </div>
                    <div class="card_article">
                        <div class="card_body">
                            <div class="card_conent">
                                <span class="date_time">
                                    الجمعة 18 أكتوبر 2024 - 01:10 م
                                </span>
                                <h4>
                                    <a href="#">
                                        رحلة 404 والطريق إلى الأوسكار
                                    </a>
                                </h4>
                                <p class="limited-lines" data-line-count="2">
                                    اختارت اللجنة المشكلة من نقابة المهن السينمائية فيلم (رحلة 404) لتمثيل مصر في مسابقة
                                    الأوسكار للفيلم غير الناطق بالإنجليزية، لم اشارك في الاختيار هذا العام، لكن من واقع
                                    مشاركتى
                                </p>
                                <div class="auther_horizontal img_md">
                                    <figure class="img_thumbnail">
                                        <img src="assets/images/Image.jpg" alt="">
                                    </figure>
                                    <div class="auther_horizontal_content">
                                        <h5 class="name">
                                            مصطفى رحمة
                                        </h5>
                                    </div>
                                </div>
                            </div>
                            <figure class="card_thumbnail">
                                <img src="assets/images/Image.jpg" alt="">
                            </figure>
                        </div>
                    </div>
                    <!-- Start Pagination -->
                    <div class="pagination_container">
                        <ul class="pagination">
                            <li class="page-item disabled">
                                <a class="page-link page-link-prev" href="#">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="6" height="10" viewBox="0 0 6 10">
                                        <path id="pagination-previous-icon"
                                            d="M3.344-1.172-.378-5,3.344-8.828,2.2-10-2.656-5,2.2,0Z"
                                            transform="translate(2.656 10)" />
                                    </svg>
                                </a>
                            </li>
                            <li class="page-item active">
                                <a class="page-link" href="#">1</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#">2</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#">3</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#">4</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#">5</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link page-link-next" href="#">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="6" height="10" viewBox="0 0 6 10">
                                        <path id="pagination-next-icon"
                                            d="M-2.656-1.172,1.065-5-2.656-8.828-1.517-10,3.344-5-1.517,0Z"
                                            transform="translate(2.656 10)" />
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- End Pagination -->
                </div>
                <div class="col-xl-4 col-lg-5 col-md-12">
                    <div class="section-toolbar">
                        <div class="side-left">
                            <h4 class="title-section-page">
                                الأكثر قراءة
                            </h4>
                        </div>
                    </div>
                    <div class="custom_card bg_gray_F9 h-auto mb-5 shadow-none">
                        <div class="custom_media">
                            <div class="media_body">
                                <figure class="media_thumbnail">
                                    <img src="assets/images/Image.jpg" alt="">
                                </figure>
                                <div class="media_content">
                                    <a class="desc limited-lines" data-line-count="2">
                                        استجابة لطلب العديد من الفنانين الشباب تم مد فترة التقديم للدورة (35) من
                                        صالون
                                        الشباب
                                    </a>
                                    <span class="date_time">
                                        منذ 3 ساعات
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="custom_media">
                            <div class="media_body">
                                <figure class="media_thumbnail">
                                    <img src="assets/images/Image.jpg" alt="">
                                </figure>
                                <div class="media_content">
                                    <a class="desc limited-lines" data-line-count="2">
                                        استجابة لطلب العديد من الفنانين الشباب تم مد فترة التقديم للدورة (35) من
                                        صالون
                                        الشباب
                                    </a>
                                    <span class="date_time">
                                        منذ 3 ساعات
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="custom_media">
                            <div class="media_body">
                                <figure class="media_thumbnail">
                                    <img src="assets/images/Image.jpg" alt="">
                                </figure>
                                <div class="media_content">
                                    <a class="desc limited-lines" data-line-count="2">
                                        استجابة لطلب العديد من الفنانين الشباب تم مد فترة التقديم للدورة (35) من
                                        صالون
                                        الشباب
                                    </a>
                                    <span class="date_time">
                                        منذ 3 ساعات
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="custom_media">
                            <div class="media_body">
                                <figure class="media_thumbnail">
                                    <img src="assets/images/Image.jpg" alt="">
                                </figure>
                                <div class="media_content">
                                    <a class="desc limited-lines" data-line-count="2">
                                        استجابة لطلب العديد من الفنانين الشباب تم مد فترة التقديم للدورة (35) من
                                        صالون
                                        الشباب
                                    </a>
                                    <span class="date_time">
                                        منذ 3 ساعات
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="section-toolbar">
                        <div class="side-left">
                            <h4 class="title-section-page">
                                تابع ابرز الكتاب
                            </h4>
                        </div>
                        <div class="side-right">
                            <a href="#" class="btn btn_link p-0">
                                عرض الكل
                            </a>
                        </div>
                    </div>
                    <div class="custom_card bg_gray_F9 h-auto mb-4 shadow-none">
                        <div class="auther_horizontal_v2">
                            <figure class="img_thumbnail">
                                <img src="assets/images/Image.jpg" alt="">
                            </figure>
                            <div class="auther_horizontal_content">
                                <h5 class="name">
                                    مصطفى رحمة
                                </h5>
                            </div>
                        </div>
                        <div class="auther_horizontal_v2">
                            <figure class="img_thumbnail">
                                <img src="assets/images/Image.jpg" alt="">
                            </figure>
                            <div class="auther_horizontal_content">
                                <h5 class="name">
                                    مصطفى رحمة
                                </h5>
                            </div>
                        </div>
                        <div class="auther_horizontal_v2">
                            <figure class="img_thumbnail">
                                <img src="assets/images/Image.jpg" alt="">
                            </figure>
                            <div class="auther_horizontal_content">
                                <h5 class="name">
                                    مصطفى رحمة
                                </h5>
                            </div>
                        </div>
                        <div class="auther_horizontal_v2">
                            <figure class="img_thumbnail">
                                <img src="assets/images/Image.jpg" alt="">
                            </figure>
                            <div class="auther_horizontal_content">
                                <h5 class="name">
                                    مصطفى رحمة
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Page -->