 <!-- Start Breadcrumb -->
 <div class="breadcrumb_container">
    <div class="container">
        <div class="breadcrumb_inner">
            <h4 class="page_title">تفاصيل الخبر</h4>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#">الرئيسية</a>
                </li>
                <li class="breadcrumb-item ">
                    اخبار قطاعات الوزارة
                </li>
                <li class="breadcrumb-item " aria-current="page">
                    المجلس الاعلى للثقافة
                </li>
            </ol>
        </div>
    </div>
</div>
<!-- End Breadcrumb -->

<!-- Start Page -->
<div class="page_filter p-0">
    <div class="details-page pb-50">
        <div class="container">
            <div class="row">
                <div class="col-xl-8 col-lg-7 col-md-12">
                    <div class="details-page-header">
                        <h4 class="title mb-1">
                            رحلة 404 والطريق إلى الأوسكار
                        </h4>
                        <span class="date_time">
                            الجمعة، 18 أكتوبر 2024 - 01:10 م
                        </span>
                        <div class="container_info">
                            <div class="item_left">
                                <div class="auther_horizontal img_lg">
                                    <figure class="img_thumbnail">
                                        <img src="assets/images/Avatar-Mask.jpg" alt="">
                                    </figure>
                                    <div class="auther_horizontal_content">
                                        <span class="auther_title">
                                            بقلم
                                        </span>
                                        <h5 class="name">
                                            مصطفى رحمة
                                        </h5>
                                    </div>
                                </div>
                            </div>
                            <div class="item_right">
                                <span class="sub_title">شارك على</span>
                                <ul class="social_links">
                                    <li>
                                        <a href="#">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="7.5" height="15"
                                                viewBox="0 0 7.5 15">
                                                <path id="ic_facebook"
                                                    d="M15.275,3.225V6.218H13.768a.663.663,0,0,0-.561.37,1.607,1.607,0,0,0-.175.757V9.211h2.243v3.028H13.032v5.986H10.018V12.239H7.775V9.211h2.243V6.218a3,3,0,0,1,3.014-2.993Z"
                                                    transform="translate(-7.775 -3.225)" />
                                            </svg>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="ic_instagram">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15"
                                                viewBox="0 0 15 15">
                                                <path id="ic_instagram"
                                                    d="M6.93,3.225h6.338A4.328,4.328,0,0,1,17.6,7.556v6.337a4.328,4.328,0,0,1-4.331,4.331H6.93A4.328,4.328,0,0,1,2.6,13.894V7.556A4.328,4.328,0,0,1,6.93,3.225ZM6.789,4.706A2.705,2.705,0,0,0,4.078,7.415v6.619a2.705,2.705,0,0,0,2.711,2.711h6.619a2.705,2.705,0,0,0,2.711-2.711V7.414A2.705,2.705,0,0,0,13.41,4.706Zm7.253,1.125a1.023,1.023,0,0,1,.652.3.916.916,0,1,1-1.3,0,1.023,1.023,0,0,1,.652-.3ZM10.1,6.956a3.787,3.787,0,1,1-2.659,1.11A3.735,3.735,0,0,1,10.1,6.956Zm0,1.514a2.276,2.276,0,0,0-1.585.669,2.149,2.149,0,0,0-.634,1.585A2.166,2.166,0,0,0,10.1,12.943a2.166,2.166,0,0,0,2.218-2.219,2.15,2.15,0,0,0-.634-1.585A2.276,2.276,0,0,0,10.1,8.471Z"
                                                    transform="translate(-2.6 -3.225)" />
                                            </svg>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="ic_x">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="14"
                                                viewBox="0 0 15 14">
                                                <path id="ic_x"
                                                    d="M483.977,356.79l5.791,7.722-5.828,6.278h1.312l5.1-5.5,4.122,5.5h4.464l-6.117-8.156,5.425-5.844h-1.312l-4.7,5.062-3.8-5.062Zm1.929.963h2.051l9.055,12.073H494.96Z"
                                                    transform="translate(-483.94 -356.79)" />
                                            </svg>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="ic_tiktok">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="13" height="15"
                                                viewBox="0 0 13 15">
                                                <path id="tiktok-svgrepo-com"
                                                    d="M15.412,5.514A3.587,3.587,0,0,1,12.6,2.331V2H10.031V12.253A2.158,2.158,0,0,1,6.153,13.56h0a2.181,2.181,0,0,1-.045-2.565,2.153,2.153,0,0,1,2.419-.817V7.553a4.714,4.714,0,0,0-4.86,2.564A4.766,4.766,0,0,0,4.5,15.571a4.717,4.717,0,0,0,8.1-3.318V7.015a6.079,6.079,0,0,0,3.56,1.144V5.592A3.584,3.584,0,0,1,15.412,5.514Z"
                                                    transform="translate(-3.16 -2)" />
                                            </svg>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="popover-trigger" data-popover-content="#socialIconsContent"
                                            data-placement="top">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="13" height="15"
                                                viewBox="0 0 13 15">
                                                <path id="ic_share"
                                                    d="M110.939-845a1.952,1.952,0,0,1-1.458-.62,2.086,2.086,0,0,1-.6-1.505,4.767,4.767,0,0,1,.079-.576l-5.438-3.305a1.982,1.982,0,0,1-.657.464,2,2,0,0,1-.815.168A1.94,1.94,0,0,1,100.6-851a2.09,2.09,0,0,1-.6-1.5,2.09,2.09,0,0,1,.6-1.5,1.94,1.94,0,0,1,1.453-.622,2,2,0,0,1,.815.168,1.983,1.983,0,0,1,.657.464l5.438-3.3a1.617,1.617,0,0,1-.063-.285,2.517,2.517,0,0,1-.017-.3,2.083,2.083,0,0,1,.6-1.506,1.957,1.957,0,0,1,1.46-.62,1.95,1.95,0,0,1,1.458.621,2.088,2.088,0,0,1,.6,1.507,2.081,2.081,0,0,1-.6,1.505,1.957,1.957,0,0,1-1.458.619,1.933,1.933,0,0,1-.812-.172,2.045,2.045,0,0,1-.652-.468l-5.438,3.305a1.621,1.621,0,0,1,.063.285,2.517,2.517,0,0,1,.017.3,2.518,2.518,0,0,1-.017.3,1.621,1.621,0,0,1-.063.285l5.438,3.305a2.045,2.045,0,0,1,.652-.468,1.934,1.934,0,0,1,.813-.172,1.954,1.954,0,0,1,1.458.62,2.087,2.087,0,0,1,.6,1.507,2.079,2.079,0,0,1-.6,1.5A1.958,1.958,0,0,1,110.939-845Z"
                                                    transform="translate(-100 860)" />
                                            </svg>
                                        </a>
                                        <div id="socialIconsContent" class="list_social" style="display: none;">
                                            <div class="list_social">
                                                <a href="#" class="item_social">
                                                    <span class="icon ic_youtube">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="15"
                                                            height="10" viewBox="0 0 15 10">
                                                            <path id="youtube"
                                                                d="M15.988,7.783a5.262,5.262,0,0,0-.62-2.67A2.015,2.015,0,0,0,14.2,4.466a56.264,56.264,0,0,0-5.7-.2A56.325,56.325,0,0,0,2.81,4.46a2,2,0,0,0-.995.478,3.223,3.223,0,0,0-.75,2.23,29.62,29.62,0,0,0,0,4.189,5.881,5.881,0,0,0,.2,1.293,2,2,0,0,0,.484.879,1.985,1.985,0,0,0,1.015.5,32.431,32.431,0,0,0,4.429.213c2.385.032,4.477,0,6.95-.181a2,2,0,0,0,1.043-.5,1.6,1.6,0,0,0,.416-.646,6.518,6.518,0,0,0,.354-2.2C15.988,10.356,15.988,8.171,15.988,7.783ZM6.953,11.105v-4l4.034,2.01C9.855,9.709,8.363,10.381,6.953,11.105Z"
                                                                transform="translate(-0.991 -4.258)" />
                                                        </svg>
                                                    </span>
                                                    يوتيوب
                                                </a>
                                                <a href="#" class="item_social">
                                                    <span class="icon ic_linkedin">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="15"
                                                            height="15" viewBox="0 0 15 15">
                                                            <path id="linkedin-icon"
                                                                d="M17,3H13.68V-2.625a1.549,1.549,0,0,0-.605-1.133,1.941,1.941,0,0,0-1.27-.469,1.289,1.289,0,0,0-1.074.469,1.962,1.962,0,0,0-.41,1.133V3H7V-7h3.32v1.68a3.082,3.082,0,0,1,1.328-1.094,3.892,3.892,0,0,1,1.6-.391,3.7,3.7,0,0,1,2.656,1.113A3.761,3.761,0,0,1,17-3.055ZM5.32,3H2V-7H5.32ZM3.68-12a1.557,1.557,0,0,1,1.172.488A1.656,1.656,0,0,1,5.32-10.32a1.59,1.59,0,0,1-.469,1.172A1.59,1.59,0,0,1,3.68-8.68a1.656,1.656,0,0,1-1.191-.469A1.557,1.557,0,0,1,2-10.32a1.621,1.621,0,0,1,.488-1.191A1.621,1.621,0,0,1,3.68-12Z"
                                                                transform="translate(-2 12)" />
                                                        </svg>
                                                    </span>
                                                    لينكد إن
                                                </a>
                                                <a href="#" class="item_social">
                                                    <span class="icon ic_telegram">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="15"
                                                            height="13" viewBox="0 0 15 13">
                                                            <path id="Path_235" data-name="Path 235"
                                                                d="M16.089,4.38,2.746,9.691c-.9.337-.9.927-.164,1.1l3.356,1.1,1.31,4.046c.164.422.082.59.491.59a.843.843,0,0,0,.655-.337L10.031,14.5,13.47,17.11c.655.337,1.064.169,1.228-.59L16.99,5.476C17.236,4.549,16.662,4.043,16.089,4.38ZM14.37,6.91,7.985,12.895l-.246,2.782L6.429,11.63l7.532-4.89C14.288,6.488,14.616,6.657,14.37,6.91Z"
                                                                transform="translate(-2.048 -4.276)" />
                                                        </svg>
                                                    </span>
                                                    تيليجرام
                                                </a>
                                                <a href="#" class="item_social">
                                                    <span class="icon">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="15"
                                                            height="12" viewBox="0 0 15 12">
                                                            <path id="ic_email"
                                                                d="M81.5-788a1.445,1.445,0,0,1-1.059-.441A1.445,1.445,0,0,1,80-789.5v-9a1.444,1.444,0,0,1,.441-1.059A1.445,1.445,0,0,1,81.5-800h12a1.445,1.445,0,0,1,1.059.441A1.444,1.444,0,0,1,95-798.5v9a1.445,1.445,0,0,1-.441,1.06A1.445,1.445,0,0,1,93.5-788Zm6-5.25,6-3.75v-1.5l-6,3.75-6-3.75v1.5Z"
                                                                transform="translate(-80 800)" />
                                                        </svg>
                                                    </span>
                                                    عبر البريد الالكتروني
                                                </a>
                                                <a href="#" class="item_social">
                                                    <span class="icon">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="15"
                                                            height="8" viewBox="0 0 15 8">
                                                            <path id="ic_copy_link"
                                                                d="M86.75-672h-3a3.5,3.5,0,0,1-2.653-1.17A3.989,3.989,0,0,1,80-676a3.989,3.989,0,0,1,1.1-2.83A3.5,3.5,0,0,1,83.75-680h3v1.6h-3a2.1,2.1,0,0,0-1.594.7A2.4,2.4,0,0,0,81.5-676a2.4,2.4,0,0,0,.656,1.7,2.1,2.1,0,0,0,1.594.7h3Zm-2.25-3.2v-1.6h6v1.6Zm3.75,3.2v-1.6h3a2.1,2.1,0,0,0,1.594-.7A2.4,2.4,0,0,0,93.5-676a2.4,2.4,0,0,0-.656-1.7,2.1,2.1,0,0,0-1.594-.7h-3V-680h3a3.5,3.5,0,0,1,2.653,1.17A3.989,3.989,0,0,1,95-676a3.989,3.989,0,0,1-1.1,2.83A3.5,3.5,0,0,1,91.25-672Z"
                                                                transform="translate(-80 680)" />
                                                        </svg>
                                                    </span>
                                                    نسخ الرابط
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-8 col-lg-7 col-md-12">
                    <div class="details-page-content">
                        <img src="assets/images/Image.jpg" alt="">
                        <p>
                            اختارت اللجنة المشكلة من نقابة المهن السينمائية فيلم (رحلة 404) لتمثيل مصر في مسابقة
                            الأوسكار للفيلم غير الناطق بالإنجليزية، لم أشارك في الاختيار هذا العام، لكن من واقع
                            مشاركتى فى ستة أعوام سابقة متصلة أستطيع أن أقول إن هناك اتجاهين فى اللجنة أحدهما يرى
                            حتمية اختيار فيلم للمشاركة، والآخر يرى عدم الترشيح في حالة عدم وجود فيلم بمستوى لائق
                            ومشرف
                        </p>
                        <p>
                            الحقيقة أن الاتجاه الأول هو الغالب بحجة أهمية منح منتج مصرى هذه الميزة كدفعة له ولفيلمه
                            دوليا، أما الاتجاه الثاني فهو الأضعف ولم تتحقق رغبته سوى في العام قبل الماضى باعتذار
                            اللجنة عن اختيار أي فيلم، جاء ذلك بعد سنوات كان يتم الاختيار فيها
                        </p>
                        <p>
                            بل وحتى مجرد الوصول إلى قائمة قصيرة من قبل وبعد أن أجرى صناع الفيلم التعديلات المطلوبة.
                            اللجنة شديد الصعوبة نظرا لضعف المستوى. يتعرض الفيلم لفكرة شائكة دينيا تتعلق بمفهوم فهل
                            حصل فيلم رحلة 404 على هذا الشرف التوبة والبحث عن الطريق إليها وسط مشاق الحاجة عن استحقاق
                            أم أنه جاء انتصارا للفريق الأول على ومقاومة الغواية، تظهر الفكرة بوضوح جلي في النسخة
                            حساب سمعة الفيلم المصرى، الذي أصبح في مقدمة النهائية التي شاهدناها مؤخرا، كما لا يخلو
                            الفيلم من أكثر المشاركين في تاريخ الأوسكار، كما أنه في قاع نقد اجتماعی حاد لشخصيات
                            دفعتها الظروف أو الطمع الخاسرين حيث لم يسبق له الفوز أو حتى الترشح للسير في طريق الجريمة
                            والخطيئة، ربما شهدت ولا مرة واحدة ولو للقائمة القصيرة المبدئية الأولى. النهاية تحديدا
                            تغييرا كبيرا حيث تبدو خارجة عن من المعروف أن مسابقة الأوسكار يتقدم لها سنويا السياق
                            والمقدمات كأنها جاءت إرضاء ليس للرقابة فقط عشرات الأفلام من مختلف دول العالم المنتجة
                            للسينما، وإنما للحس الشعبي والجمعي. وأن سباق الوصول للجائزة يمر بماراثون طويل
                        </p>
                        <img src="assets/images/Image.jpg" alt="">
                        <p>
                            يبدأ فالفيلم يدور حول غادة التي تستعد للسفر إلى بمراجعة استيفاء الفيلم لشروط الترشح ثم
                            الوصول مكة لأداء فريضة الحج بعد توبتها للتكفير عن ذنوبها للقائمة الأولى التي تتضمن تصعيد
                            عشرين فيلم وتقربا إلى الله عوضا عما اقترفته من أثام في الماضي للتصفية اللاحقة التي سوف
                            تكتفى بخمسة أفلام لكن مرض الأم واحتياجها إلى علاج مكلف يضطر فقط، هي التي يتم اختيار
                            الفيلم الفائز من بينها. البطلة للجوء إلى معارفها وأصدقاء السوء القدامي
                            على أى حال فإن فيلم رحلة 404 قد حقق نجاحا علهم يساعدوها، لكنها تجد أن كل منهم يسعى لا
                            بأس به على المستويين الفنى والجماهيري، وهو بلا لإعادتها إلى عالم الرذيلة، كأن غادة هي
                            غادة الكاميليا شك أحد أفضل الأفلام المصرية الروائية الطويلة في المسرحية الشهير التي
                            أطلقت مقولتها الشهيرة
                            التي عرضت خلال العام الماضي، مع العلم بأن عدد إذا فإن المرأة التي سقطت لن يغفر لها
                            المجتمع. الأفلام المصرية المعروضة تقلص في حدود ما يقرب في اعتقادي أن تلك الفكرة تم
                            معالجتها بطرق من 35 فيلما سنويا بعد أن كان العدد يتجاوز الثمانين.
                        </p>
                        <img src="assets/images/Image.jpg" alt="">
                        <p>
                            مختلفة من قبل سواء في أعمال كاتبنا نجيب على مستوى الكيف فإن أفلام الحركة والكوميديا
                            محفوظ أو يوسف إدريس أو في أفلام كتبها وحيد الهزلية أصبحت تشكل النسبة الأكبر ولا تترك سوى
                            حامد منها كشف المستور والراقصة والسياسي، إنها مساحة صغيرة جدا للأنواع الأخرى، وخاصة ما
                            أعمال تطرح المعوقات والمغريات التي تقف في طريق نطلق عليها سينما الفن أو الأعمال التي
                            يغلب عليها من تريد التوبة عما اقترفته في حياتها من ذنوب الطابع الفني عن التجاري التي
                            كادت تندثر ولا تطل سواء بإرادتها أو رغما عنها.
                        </p>
                    </div>
                    <div class="details-page-footer with_border_bottom">
                        <div class="container_info">
                            <div class="item_left">
                                <div class="auther_horizontal img_lg">
                                    <figure class="img_thumbnail">
                                        <img src="assets/images/Avatar-Mask.jpg" alt="">
                                    </figure>
                                    <div class="auther_horizontal_content">
                                        <span class="auther_title">
                                            بقلم
                                        </span>
                                        <h5 class="name">
                                            مصطفى رحمة
                                        </h5>
                                    </div>
                                </div>
                            </div>
                            <div class="item_right">
                                <span class="sub_title">شارك على</span>
                                <ul class="social_links">
                                    <li>
                                        <a href="#">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="7.5" height="15"
                                                viewBox="0 0 7.5 15">
                                                <path id="ic_facebook"
                                                    d="M15.275,3.225V6.218H13.768a.663.663,0,0,0-.561.37,1.607,1.607,0,0,0-.175.757V9.211h2.243v3.028H13.032v5.986H10.018V12.239H7.775V9.211h2.243V6.218a3,3,0,0,1,3.014-2.993Z"
                                                    transform="translate(-7.775 -3.225)" />
                                            </svg>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="ic_instagram">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15"
                                                viewBox="0 0 15 15">
                                                <path id="ic_instagram"
                                                    d="M6.93,3.225h6.338A4.328,4.328,0,0,1,17.6,7.556v6.337a4.328,4.328,0,0,1-4.331,4.331H6.93A4.328,4.328,0,0,1,2.6,13.894V7.556A4.328,4.328,0,0,1,6.93,3.225ZM6.789,4.706A2.705,2.705,0,0,0,4.078,7.415v6.619a2.705,2.705,0,0,0,2.711,2.711h6.619a2.705,2.705,0,0,0,2.711-2.711V7.414A2.705,2.705,0,0,0,13.41,4.706Zm7.253,1.125a1.023,1.023,0,0,1,.652.3.916.916,0,1,1-1.3,0,1.023,1.023,0,0,1,.652-.3ZM10.1,6.956a3.787,3.787,0,1,1-2.659,1.11A3.735,3.735,0,0,1,10.1,6.956Zm0,1.514a2.276,2.276,0,0,0-1.585.669,2.149,2.149,0,0,0-.634,1.585A2.166,2.166,0,0,0,10.1,12.943a2.166,2.166,0,0,0,2.218-2.219,2.15,2.15,0,0,0-.634-1.585A2.276,2.276,0,0,0,10.1,8.471Z"
                                                    transform="translate(-2.6 -3.225)" />
                                            </svg>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="ic_x">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="14"
                                                viewBox="0 0 15 14">
                                                <path id="ic_x"
                                                    d="M483.977,356.79l5.791,7.722-5.828,6.278h1.312l5.1-5.5,4.122,5.5h4.464l-6.117-8.156,5.425-5.844h-1.312l-4.7,5.062-3.8-5.062Zm1.929.963h2.051l9.055,12.073H494.96Z"
                                                    transform="translate(-483.94 -356.79)" />
                                            </svg>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="ic_tiktok">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="13" height="15"
                                                viewBox="0 0 13 15">
                                                <path id="tiktok-svgrepo-com"
                                                    d="M15.412,5.514A3.587,3.587,0,0,1,12.6,2.331V2H10.031V12.253A2.158,2.158,0,0,1,6.153,13.56h0a2.181,2.181,0,0,1-.045-2.565,2.153,2.153,0,0,1,2.419-.817V7.553a4.714,4.714,0,0,0-4.86,2.564A4.766,4.766,0,0,0,4.5,15.571a4.717,4.717,0,0,0,8.1-3.318V7.015a6.079,6.079,0,0,0,3.56,1.144V5.592A3.584,3.584,0,0,1,15.412,5.514Z"
                                                    transform="translate(-3.16 -2)" />
                                            </svg>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="popover-trigger" data-popover-content="#socialIconsContent2"
                                            data-placement="top">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="13" height="15"
                                                viewBox="0 0 13 15">
                                                <path id="ic_share"
                                                    d="M110.939-845a1.952,1.952,0,0,1-1.458-.62,2.086,2.086,0,0,1-.6-1.505,4.767,4.767,0,0,1,.079-.576l-5.438-3.305a1.982,1.982,0,0,1-.657.464,2,2,0,0,1-.815.168A1.94,1.94,0,0,1,100.6-851a2.09,2.09,0,0,1-.6-1.5,2.09,2.09,0,0,1,.6-1.5,1.94,1.94,0,0,1,1.453-.622,2,2,0,0,1,.815.168,1.983,1.983,0,0,1,.657.464l5.438-3.3a1.617,1.617,0,0,1-.063-.285,2.517,2.517,0,0,1-.017-.3,2.083,2.083,0,0,1,.6-1.506,1.957,1.957,0,0,1,1.46-.62,1.95,1.95,0,0,1,1.458.621,2.088,2.088,0,0,1,.6,1.507,2.081,2.081,0,0,1-.6,1.505,1.957,1.957,0,0,1-1.458.619,1.933,1.933,0,0,1-.812-.172,2.045,2.045,0,0,1-.652-.468l-5.438,3.305a1.621,1.621,0,0,1,.063.285,2.517,2.517,0,0,1,.017.3,2.518,2.518,0,0,1-.017.3,1.621,1.621,0,0,1-.063.285l5.438,3.305a2.045,2.045,0,0,1,.652-.468,1.934,1.934,0,0,1,.813-.172,1.954,1.954,0,0,1,1.458.62,2.087,2.087,0,0,1,.6,1.507,2.079,2.079,0,0,1-.6,1.5A1.958,1.958,0,0,1,110.939-845Z"
                                                    transform="translate(-100 860)" />
                                            </svg>
                                        </a>
                                        <div id="socialIconsContent2" class="list_social" style="display: none;">
                                            <div class="list_social">
                                                <a href="#" class="item_social">
                                                    <span class="icon ic_youtube">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="15"
                                                            height="10" viewBox="0 0 15 10">
                                                            <path id="youtube"
                                                                d="M15.988,7.783a5.262,5.262,0,0,0-.62-2.67A2.015,2.015,0,0,0,14.2,4.466a56.264,56.264,0,0,0-5.7-.2A56.325,56.325,0,0,0,2.81,4.46a2,2,0,0,0-.995.478,3.223,3.223,0,0,0-.75,2.23,29.62,29.62,0,0,0,0,4.189,5.881,5.881,0,0,0,.2,1.293,2,2,0,0,0,.484.879,1.985,1.985,0,0,0,1.015.5,32.431,32.431,0,0,0,4.429.213c2.385.032,4.477,0,6.95-.181a2,2,0,0,0,1.043-.5,1.6,1.6,0,0,0,.416-.646,6.518,6.518,0,0,0,.354-2.2C15.988,10.356,15.988,8.171,15.988,7.783ZM6.953,11.105v-4l4.034,2.01C9.855,9.709,8.363,10.381,6.953,11.105Z"
                                                                transform="translate(-0.991 -4.258)" />
                                                        </svg>
                                                    </span>
                                                    يوتيوب
                                                </a>
                                                <a href="#" class="item_social">
                                                    <span class="icon ic_linkedin">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="15"
                                                            height="15" viewBox="0 0 15 15">
                                                            <path id="linkedin-icon"
                                                                d="M17,3H13.68V-2.625a1.549,1.549,0,0,0-.605-1.133,1.941,1.941,0,0,0-1.27-.469,1.289,1.289,0,0,0-1.074.469,1.962,1.962,0,0,0-.41,1.133V3H7V-7h3.32v1.68a3.082,3.082,0,0,1,1.328-1.094,3.892,3.892,0,0,1,1.6-.391,3.7,3.7,0,0,1,2.656,1.113A3.761,3.761,0,0,1,17-3.055ZM5.32,3H2V-7H5.32ZM3.68-12a1.557,1.557,0,0,1,1.172.488A1.656,1.656,0,0,1,5.32-10.32a1.59,1.59,0,0,1-.469,1.172A1.59,1.59,0,0,1,3.68-8.68a1.656,1.656,0,0,1-1.191-.469A1.557,1.557,0,0,1,2-10.32a1.621,1.621,0,0,1,.488-1.191A1.621,1.621,0,0,1,3.68-12Z"
                                                                transform="translate(-2 12)" />
                                                        </svg>
                                                    </span>
                                                    لينكد إن
                                                </a>
                                                <a href="#" class="item_social">
                                                    <span class="icon ic_telegram">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="15"
                                                            height="13" viewBox="0 0 15 13">
                                                            <path id="Path_235" data-name="Path 235"
                                                                d="M16.089,4.38,2.746,9.691c-.9.337-.9.927-.164,1.1l3.356,1.1,1.31,4.046c.164.422.082.59.491.59a.843.843,0,0,0,.655-.337L10.031,14.5,13.47,17.11c.655.337,1.064.169,1.228-.59L16.99,5.476C17.236,4.549,16.662,4.043,16.089,4.38ZM14.37,6.91,7.985,12.895l-.246,2.782L6.429,11.63l7.532-4.89C14.288,6.488,14.616,6.657,14.37,6.91Z"
                                                                transform="translate(-2.048 -4.276)" />
                                                        </svg>
                                                    </span>
                                                    تيليجرام
                                                </a>
                                                <a href="#" class="item_social">
                                                    <span class="icon">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="15"
                                                            height="12" viewBox="0 0 15 12">
                                                            <path id="ic_email"
                                                                d="M81.5-788a1.445,1.445,0,0,1-1.059-.441A1.445,1.445,0,0,1,80-789.5v-9a1.444,1.444,0,0,1,.441-1.059A1.445,1.445,0,0,1,81.5-800h12a1.445,1.445,0,0,1,1.059.441A1.444,1.444,0,0,1,95-798.5v9a1.445,1.445,0,0,1-.441,1.06A1.445,1.445,0,0,1,93.5-788Zm6-5.25,6-3.75v-1.5l-6,3.75-6-3.75v1.5Z"
                                                                transform="translate(-80 800)" />
                                                        </svg>
                                                    </span>
                                                    عبر البريد الالكتروني
                                                </a>
                                                <a href="#" class="item_social">
                                                    <span class="icon">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="15"
                                                            height="8" viewBox="0 0 15 8">
                                                            <path id="ic_copy_link"
                                                                d="M86.75-672h-3a3.5,3.5,0,0,1-2.653-1.17A3.989,3.989,0,0,1,80-676a3.989,3.989,0,0,1,1.1-2.83A3.5,3.5,0,0,1,83.75-680h3v1.6h-3a2.1,2.1,0,0,0-1.594.7A2.4,2.4,0,0,0,81.5-676a2.4,2.4,0,0,0,.656,1.7,2.1,2.1,0,0,0,1.594.7h3Zm-2.25-3.2v-1.6h6v1.6Zm3.75,3.2v-1.6h3a2.1,2.1,0,0,0,1.594-.7A2.4,2.4,0,0,0,93.5-676a2.4,2.4,0,0,0-.656-1.7,2.1,2.1,0,0,0-1.594-.7h-3V-680h3a3.5,3.5,0,0,1,2.653,1.17A3.989,3.989,0,0,1,95-676a3.989,3.989,0,0,1-1.1,2.83A3.5,3.5,0,0,1,91.25-672Z"
                                                                transform="translate(-80 680)" />
                                                        </svg>
                                                    </span>
                                                    نسخ الرابط
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card_pagination_article">
                        <div class="card_body">
                            <div class="row">
                                <div class="col-6">
                                    <a href="#" class="link_page">
                                        السابق
                                    </a>
                                    <p class="title_page">
                                        عمر أفندى متى تنجح الفانتازيا فى مصر؟
                                    </p>
                                </div>
                                <div class="col-6 text-right">
                                    <a href="#" class="link_page">
                                        التالي
                                    </a>
                                    <p class="title_page">
                                        رحلة 404 والطريق إلى الأوسكار
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card_Author_bio card_Author_bio_vertical">
                        <div class="card_body">
                            <div class="main_info">
                                <img class="thumbnail" src="assets/images/Avatar-Mask.jpg" alt="">
                                <div class="content_info">
                                    <h5 class="name">
                                        د.وليد سيف
                                    </h5>
                                    <p class="desc">
                                        كاتب سيناريو وناقد وباحث سينمائى
                                    </p>
                                    <div class="follow_us">
                                        <h6>تابع علي</h6>
                                        <ul class="social_links">
                                            <li>
                                                <a href="#">
                                                    <img src="assets/images/icons/ic_facebook.svg" alt="">
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <img src="assets/images/icons/ic_instagram.svg" alt="">
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <img src="assets/images/icons/ic_x.svg" alt="">
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <img src="assets/images/icons/linkedin-icon.svg" alt="">
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <img src="assets/images/icons/ic_telegram.svg" alt="">
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <img src="assets/images/icons/ic_copy_link.svg" alt="">
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="card_content">
                                <p>
                                    وليد سيف ناقد وسينارست مصري. حصل على الدكتوراة في النقد السينمائى من
                                    أكاديمية العلوم الروسية عام 1998. وأصبح أستاذ النقد السينمائى
                                    والتليفزيونى بأكاديمية الإعلام الدولية. تولى عدة مناصب سينمائية منها:
                                    رئيس مهرجان الإسكندرية عام 2012 ومدير مهرجان جمعية الفيلم 2007 والمستشار
                                    الإعلامى لمهرجان الإتحاد الأوروبى 2006 ورئيس قصرالسينما ورئيس تحرير
                                    سلسلة مطبوعات آفاق السينما.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="section_has_slide_card pb-50">
                        <div class="section_head">
                            <h4 class="heading_feature">
                                فن و ثقافة
                            </h4>
                        </div>
                        <div class="owl-carousel owl-theme owl-loaded owl-drag" data-margin="30"
                            data-stagepadding="0" data-items="1" data-xlarge="3" data-large="2"
                            data-smalldesktop="2" data-medium="1" data-smallmedium="2" data-slidespeed="500"
                            data-extrasmall="1" data-dots="true" data-nav="false" data-loop="false"
                            data-autoplay="false">
                            <div class="item-carousel">
                                <div class="card_news">
                                    <figure class="card_thumbnail">
                                        <img src="assets/images/Image.jpg" alt="">
                                    </figure>
                                    <div class="card_news_content">
                                        <h4 class="card_title">
                                            <a href="#">
                                                وزير الثقافة من مؤتمر الشارقة للذكاء الاصطناعي: علينا حماية الهوية
                                                في مواجهة
                                                تحديات
                                                المستقبل
                                            </a>
                                        </h4>
                                        <p class="limited-lines" data-line-count="2">
                                            شارك الدكتور أحمد فؤاد هنو، وزير الثقافة، في الجلسة الخامسة لمؤتمر
                                            الشارقة الدولي
                                            للذكاء
                                            الاصطناعي واللغويات تحت عنوان "تعزيز البحث اللغوي من خلال الدعم والتعاون
                                            وتبادل
                                            الخبرة بين الذكاء البشري والذكاء الاصطناعي".
                                        </p>
                                        <span class="date_time">منذ ساعة واحدة</span>
                                    </div>
                                </div>
                            </div>
                            <div class="item-carousel">
                                <div class="card_news">
                                    <figure class="card_thumbnail">
                                        <img src="assets/images/Image.jpg" alt="">
                                    </figure>
                                    <div class="card_news_content">
                                        <h4 class="card_title">
                                            <a href="#">
                                                وزير الثقافة من مؤتمر الشارقة للذكاء الاصطناعي: علينا حماية الهوية
                                                في مواجهة
                                                تحديات
                                                المستقبل
                                            </a>
                                        </h4>
                                        <p class="limited-lines" data-line-count="2">
                                            شارك الدكتور أحمد فؤاد هنو، وزير الثقافة، في الجلسة الخامسة لمؤتمر
                                            الشارقة الدولي
                                            للذكاء
                                            الاصطناعي واللغويات تحت عنوان "تعزيز البحث اللغوي من خلال الدعم والتعاون
                                            وتبادل
                                            الخبرة بين الذكاء البشري والذكاء الاصطناعي".
                                        </p>
                                        <span class="date_time">منذ ساعة واحدة</span>
                                    </div>
                                </div>
                            </div>
                            <div class="item-carousel">
                                <div class="card_news">
                                    <figure class="card_thumbnail">
                                        <img src="assets/images/Image.jpg" alt="">
                                    </figure>
                                    <div class="card_news_content">
                                        <h4 class="card_title">
                                            <a href="#">
                                                وزير الثقافة من مؤتمر الشارقة للذكاء الاصطناعي: علينا حماية الهوية
                                                في مواجهة
                                                تحديات
                                                المستقبل
                                            </a>
                                        </h4>
                                        <p class="limited-lines" data-line-count="2">
                                            شارك الدكتور أحمد فؤاد هنو، وزير الثقافة، في الجلسة الخامسة لمؤتمر
                                            الشارقة الدولي
                                            للذكاء
                                            الاصطناعي واللغويات تحت عنوان "تعزيز البحث اللغوي من خلال الدعم والتعاون
                                            وتبادل
                                            الخبرة بين الذكاء البشري والذكاء الاصطناعي".
                                        </p>
                                        <span class="date_time">منذ ساعة واحدة</span>
                                    </div>
                                </div>
                            </div>
                            <div class="item-carousel">
                                <div class="card_news">
                                    <figure class="card_thumbnail">
                                        <img src="assets/images/Image.jpg" alt="">
                                    </figure>
                                    <div class="card_news_content">
                                        <h4 class="card_title">
                                            <a href="#">
                                                وزير الثقافة من مؤتمر الشارقة للذكاء الاصطناعي: علينا حماية الهوية
                                                في مواجهة
                                                تحديات
                                                المستقبل
                                            </a>
                                        </h4>
                                        <p class="limited-lines" data-line-count="2">
                                            شارك الدكتور أحمد فؤاد هنو، وزير الثقافة، في الجلسة الخامسة لمؤتمر
                                            الشارقة الدولي
                                            للذكاء
                                            الاصطناعي واللغويات تحت عنوان "تعزيز البحث اللغوي من خلال الدعم والتعاون
                                            وتبادل
                                            الخبرة بين الذكاء البشري والذكاء الاصطناعي".
                                        </p>
                                        <span class="date_time">منذ ساعة واحدة</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-5 col-md-12">
                    <div class="section-toolbar">
                        <div class="side-left">
                            <h4 class="title-section-page">
                                مواضيع ذات صلة
                            </h4>
                        </div>
                    </div>
                    <div class="custom_card bg_gray_F9 h-auto mb-4 shadow-none">
                        <div class="custom_media">
                            <div class="media_body">
                                <figure class="media_thumbnail">
                                    <img src="assets/images/Image.jpg" alt="">
                                </figure>
                                <div class="media_content">
                                    <a class="desc limited-lines" data-line-count="2">
                                        استجابة لطلب العديد من الفنانين الشباب تم مد فترة التقديم للدورة (35) من
                                        صالون
                                        الشباب
                                    </a>
                                    <span class="date_time">
                                        منذ 3 ساعات
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="custom_media">
                            <div class="media_body">
                                <figure class="media_thumbnail">
                                    <img src="assets/images/Image.jpg" alt="">
                                </figure>
                                <div class="media_content">
                                    <a class="desc limited-lines" data-line-count="2">
                                        استجابة لطلب العديد من الفنانين الشباب تم مد فترة التقديم للدورة (35) من
                                        صالون
                                        الشباب
                                    </a>
                                    <span class="date_time">
                                        منذ 3 ساعات
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="custom_media">
                            <div class="media_body">
                                <figure class="media_thumbnail">
                                    <img src="assets/images/Image.jpg" alt="">
                                </figure>
                                <div class="media_content">
                                    <a class="desc limited-lines" data-line-count="2">
                                        استجابة لطلب العديد من الفنانين الشباب تم مد فترة التقديم للدورة (35) من
                                        صالون
                                        الشباب
                                    </a>
                                    <span class="date_time">
                                        منذ 3 ساعات
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="custom_media">
                            <div class="media_body">
                                <figure class="media_thumbnail">
                                    <img src="assets/images/Image.jpg" alt="">
                                </figure>
                                <div class="media_content">
                                    <a class="desc limited-lines" data-line-count="2">
                                        استجابة لطلب العديد من الفنانين الشباب تم مد فترة التقديم للدورة (35) من
                                        صالون
                                        الشباب
                                    </a>
                                    <span class="date_time">
                                        منذ 3 ساعات
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Page -->