  <!-- Start Breadcrumb -->
  <div class="breadcrumb_container">
    <div class="container">
        <div class="breadcrumb_inner">
            <h4 class="page_title">مقالات د.وليد سيف</h4>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#">الرئيسية</a>
                </li>
                <li class="breadcrumb-item">
                    ابرز الكتاب
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                    مقالات د.وليد سيف
                </li>
            </ol>
        </div>
    </div>
</div>
<!-- End Breadcrumb -->

<!-- Start Page -->
<div class="page_filter p-0">
    <div class="container">
        <div class="card_Author_bio">
            <div class="card_body">
                <div class="row align-items-center">
                    <div class="col-lg-5 col-md-6">
                        <div class="main_info">
                            <img class="thumbnail" src="assets/images/Avatar-Mask.jpg" alt="">
                            <div class="content_info">
                                <h5 class="name">
                                    د.وليد سيف
                                </h5>
                                <p class="desc">
                                    كاتب سيناريو وناقد وباحث سينمائى
                                </p>
                                <div class="follow_us">
                                    <h6>تابع علي</h6>
                                    <ul class="social_links">
                                        <li>
                                            <a href="#">
                                                <img src="assets/images/icons/ic_facebook.svg" alt="">
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <img src="assets/images/icons/ic_instagram.svg" alt="">
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <img src="assets/images/icons/ic_x.svg" alt="">
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <img src="assets/images/icons/linkedin-icon.svg" alt="">
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <img src="assets/images/icons/ic_telegram.svg" alt="">
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <img src="assets/images/icons/ic_copy_link.svg" alt="">
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-6">
                        <div class="card_content">
                            <p>
                                وليد سيف ناقد وسينارست مصري. حصل على الدكتوراة في النقد السينمائى من
                                أكاديمية العلوم الروسية عام 1998. وأصبح أستاذ النقد السينمائى
                                والتليفزيونى بأكاديمية الإعلام الدولية. تولى عدة مناصب سينمائية منها:
                                رئيس مهرجان الإسكندرية عام 2012 ومدير مهرجان جمعية الفيلم 2007 والمستشار
                                الإعلامى لمهرجان الإتحاد الأوروبى 2006 ورئيس قصرالسينما ورئيس تحرير
                                سلسلة مطبوعات آفاق السينما.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-8 col-lg-7 col-md-12">
                <div class="details-page">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="card_news">
                                <figure class="card_thumbnail">
                                    <img src="assets/images/Image.jpg" alt="">
                                </figure>
                                <div class="card_news_content">
                                    <a href="author-article-details.html" class="card_title limited-lines"
                                        data-line-count="2">
                                        عمر أفندى متى تنجح الفانتازيا فى مصر؟
                                    </a>
                                    <p class="limited-lines" data-line-count="2">
                                        شارك الدكتور أحمد فؤاد هنو، وزير الثقافة، في الجلسة الخامسة لمؤتمر الشارقة
                                        الدولي
                                        للذكاء
                                        الاصطناعي واللغويات تحت عنوان "تعزيز البحث اللغوي من خلال الدعم والتعاون
                                        وتبادل
                                        الخبرة بين الذكاء البشري والذكاء الاصطناعي".
                                    </p>
                                    <span class="date_time">منذ ساعة واحدة</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="card_news">
                                <figure class="card_thumbnail">
                                    <img src="assets/images/Image.jpg" alt="">
                                </figure>
                                <div class="card_news_content">
                                    <a href="author-article-details.html" class="card_title limited-lines"
                                        data-line-count="2">
                                        عمر أفندى متى تنجح الفانتازيا فى مصر؟
                                    </a>
                                    <p class="limited-lines" data-line-count="2">
                                        شارك الدكتور أحمد فؤاد هنو، وزير الثقافة، في الجلسة الخامسة لمؤتمر الشارقة
                                        الدولي
                                        للذكاء
                                        الاصطناعي واللغويات تحت عنوان "تعزيز البحث اللغوي من خلال الدعم والتعاون
                                        وتبادل
                                        الخبرة بين الذكاء البشري والذكاء الاصطناعي".
                                    </p>
                                    <span class="date_time">منذ ساعة واحدة</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="card_news">
                                <figure class="card_thumbnail">
                                    <img src="assets/images/Image.jpg" alt="">
                                </figure>
                                <div class="card_news_content">
                                    <a href="author-article-details.html" class="card_title limited-lines"
                                        data-line-count="2">
                                        عمر أفندى متى تنجح الفانتازيا فى مصر؟
                                    </a>
                                    <p class="limited-lines" data-line-count="2">
                                        شارك الدكتور أحمد فؤاد هنو، وزير الثقافة، في الجلسة الخامسة لمؤتمر الشارقة
                                        الدولي
                                        للذكاء
                                        الاصطناعي واللغويات تحت عنوان "تعزيز البحث اللغوي من خلال الدعم والتعاون
                                        وتبادل
                                        الخبرة بين الذكاء البشري والذكاء الاصطناعي".
                                    </p>
                                    <span class="date_time">منذ ساعة واحدة</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="card_news">
                                <figure class="card_thumbnail">
                                    <img src="assets/images/Image.jpg" alt="">
                                </figure>
                                <div class="card_news_content">
                                    <a href="author-article-details.html" class="card_title limited-lines"
                                        data-line-count="2">
                                        عمر أفندى متى تنجح الفانتازيا فى مصر؟
                                    </a>
                                    <p class="limited-lines" data-line-count="2">
                                        شارك الدكتور أحمد فؤاد هنو، وزير الثقافة، في الجلسة الخامسة لمؤتمر الشارقة
                                        الدولي
                                        للذكاء
                                        الاصطناعي واللغويات تحت عنوان "تعزيز البحث اللغوي من خلال الدعم والتعاون
                                        وتبادل
                                        الخبرة بين الذكاء البشري والذكاء الاصطناعي".
                                    </p>
                                    <span class="date_time">منذ ساعة واحدة</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="card_news">
                                <figure class="card_thumbnail">
                                    <img src="assets/images/Image.jpg" alt="">
                                </figure>
                                <div class="card_news_content">
                                    <a href="author-article-details.html" class="card_title limited-lines"
                                        data-line-count="2">
                                        عمر أفندى متى تنجح الفانتازيا فى مصر؟
                                    </a>
                                    <p class="limited-lines" data-line-count="2">
                                        شارك الدكتور أحمد فؤاد هنو، وزير الثقافة، في الجلسة الخامسة لمؤتمر الشارقة
                                        الدولي
                                        للذكاء
                                        الاصطناعي واللغويات تحت عنوان "تعزيز البحث اللغوي من خلال الدعم والتعاون
                                        وتبادل
                                        الخبرة بين الذكاء البشري والذكاء الاصطناعي".
                                    </p>
                                    <span class="date_time">منذ ساعة واحدة</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="card_news">
                                <figure class="card_thumbnail">
                                    <img src="assets/images/Image.jpg" alt="">
                                </figure>
                                <div class="card_news_content">
                                    <a href="author-article-details.html" class="card_title limited-lines"
                                        data-line-count="2">
                                        عمر أفندى متى تنجح الفانتازيا فى مصر؟
                                    </a>
                                    <p class="limited-lines" data-line-count="2">
                                        شارك الدكتور أحمد فؤاد هنو، وزير الثقافة، في الجلسة الخامسة لمؤتمر الشارقة
                                        الدولي
                                        للذكاء
                                        الاصطناعي واللغويات تحت عنوان "تعزيز البحث اللغوي من خلال الدعم والتعاون
                                        وتبادل
                                        الخبرة بين الذكاء البشري والذكاء الاصطناعي".
                                    </p>
                                    <span class="date_time">منذ ساعة واحدة</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Start Pagination -->
                    <div class="pagination_container">
                        <ul class="pagination">
                            <li class="page-item disabled">
                                <a class="page-link page-link-prev" href="#">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="6" height="10"
                                        viewBox="0 0 6 10">
                                        <path id="pagination-previous-icon"
                                            d="M3.344-1.172-.378-5,3.344-8.828,2.2-10-2.656-5,2.2,0Z"
                                            transform="translate(2.656 10)" />
                                    </svg>
                                </a>
                            </li>
                            <li class="page-item active">
                                <a class="page-link" href="#">1</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#">2</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#">3</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#">4</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#">5</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link page-link-next" href="#">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="6" height="10"
                                        viewBox="0 0 6 10">
                                        <path id="pagination-next-icon"
                                            d="M-2.656-1.172,1.065-5-2.656-8.828-1.517-10,3.344-5-1.517,0Z"
                                            transform="translate(2.656 10)" />
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- End Pagination -->
                </div>
            </div>
            <div class="col-xl-4 col-lg-5 col-md-12">
                <div class="section-toolbar">
                    <div class="side-left">
                        <h4 class="title-section-page">
                            الأكثر قراءة
                        </h4>
                    </div>
                </div>
                <div class="custom_card bg_gray_F9 h-auto mb-5 shadow-none">
                    <div class="custom_media">
                        <div class="media_body">
                            <figure class="media_thumbnail">
                                <img src="assets/images/Image.jpg" alt="">
                            </figure>
                            <div class="media_content">
                                <a class="desc limited-lines" data-line-count="2">
                                    استجابة لطلب العديد من الفنانين الشباب تم مد فترة التقديم للدورة (35) من
                                    صالون
                                    الشباب
                                </a>
                                <span class="date_time">
                                    منذ 3 ساعات
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="custom_media">
                        <div class="media_body">
                            <figure class="media_thumbnail">
                                <img src="assets/images/Image.jpg" alt="">
                            </figure>
                            <div class="media_content">
                                <a class="desc limited-lines" data-line-count="2">
                                    استجابة لطلب العديد من الفنانين الشباب تم مد فترة التقديم للدورة (35) من
                                    صالون
                                    الشباب
                                </a>
                                <span class="date_time">
                                    منذ 3 ساعات
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="custom_media">
                        <div class="media_body">
                            <figure class="media_thumbnail">
                                <img src="assets/images/Image.jpg" alt="">
                            </figure>
                            <div class="media_content">
                                <a class="desc limited-lines" data-line-count="2">
                                    استجابة لطلب العديد من الفنانين الشباب تم مد فترة التقديم للدورة (35) من
                                    صالون
                                    الشباب
                                </a>
                                <span class="date_time">
                                    منذ 3 ساعات
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="custom_media">
                        <div class="media_body">
                            <figure class="media_thumbnail">
                                <img src="assets/images/Image.jpg" alt="">
                            </figure>
                            <div class="media_content">
                                <a class="desc limited-lines" data-line-count="2">
                                    استجابة لطلب العديد من الفنانين الشباب تم مد فترة التقديم للدورة (35) من
                                    صالون
                                    الشباب
                                </a>
                                <span class="date_time">
                                    منذ 3 ساعات
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Page -->