   <!-- Start Breadcrumb -->
   <div class="breadcrumb_container">
    <div class="container">
        <div class="breadcrumb_inner">
            <h4 class="page_title">ابرز الكتاب</h4>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#">الرئيسية</a>
                </li>
                <li class="breadcrumb-item active">
                    ابرز الكتاب
                </li>
            </ol>
        </div>
    </div>
</div>
<!-- End Breadcrumb -->

<!-- Start Page -->
<div class="page_filter p-0">
    <div class="container">
        <div class="details-page">
            <div class="card_authors_articles">
                <div class="card_body">
                    <div class="card_thumbnail">
                        <img src="assets/images/Avatar-Mask.jpg" alt="">
                        <h5 class="name">
                            د.وليد سيف
                        </h5>
                        <p class="desc">
                            كاتب سيناريو وناقد وباحث سينمائى
                        </p>
                    </div>
                    <div class="card_conent">
                        <div class="row no-gutters">
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="custom_media">
                                    <div class="media_body">
                                        <figure class="media_thumbnail">
                                            <img src="assets/images/Image.jpg" alt="">
                                        </figure>
                                        <div class="media_content">
                                            <a class="desc limited-lines" data-line-count="2">
                                                استجابة لطلب العديد من الفنانين الشباب تم مد فترة التقديم للدورة
                                                (35) من
                                                صالون
                                                الشباب
                                            </a>
                                            <span class="date_time">
                                                منذ 3 ساعات
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="custom_media">
                                    <div class="media_body">
                                        <figure class="media_thumbnail">
                                            <img src="assets/images/Image.jpg" alt="">
                                        </figure>
                                        <div class="media_content">
                                            <a class="desc limited-lines" data-line-count="2">
                                                استجابة لطلب العديد من الفنانين الشباب تم مد فترة التقديم للدورة
                                                (35) من
                                                صالون
                                                الشباب
                                            </a>
                                            <span class="date_time">
                                                منذ 3 ساعات
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="custom_media">
                                    <div class="media_body">
                                        <figure class="media_thumbnail">
                                            <img src="assets/images/Image.jpg" alt="">
                                        </figure>
                                        <div class="media_content">
                                            <a class="desc limited-lines" data-line-count="2">
                                                استجابة لطلب العديد من الفنانين الشباب تم مد فترة التقديم للدورة
                                                (35) من
                                                صالون
                                                الشباب
                                            </a>
                                            <span class="date_time">
                                                منذ 3 ساعات
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="custom_media">
                                    <div class="media_body">
                                        <figure class="media_thumbnail">
                                            <img src="assets/images/Image.jpg" alt="">
                                        </figure>
                                        <div class="media_content">
                                            <a class="desc limited-lines" data-line-count="2">
                                                استجابة لطلب العديد من الفنانين الشباب تم مد فترة التقديم للدورة
                                                (35) من
                                                صالون
                                                الشباب
                                            </a>
                                            <span class="date_time">
                                                منذ 3 ساعات
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card_actions">
                        <a href="author-articles.html" class="btn">
                            <img src="assets/images/icons/ic_arrow.svg" alt="">
                        </a>
                    </div>
                </div>
            </div>
            <div class="card_authors_articles">
                <div class="card_body">
                    <div class="card_thumbnail">
                        <img src="assets/images/Avatar-Mask.jpg" alt="">
                        <h5 class="name">
                            د.وليد سيف
                        </h5>
                        <p class="desc">
                            كاتب سيناريو وناقد وباحث سينمائى
                        </p>
                    </div>
                    <div class="card_conent">
                        <div class="row no-gutters">
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="custom_media">
                                    <div class="media_body">
                                        <figure class="media_thumbnail">
                                            <img src="assets/images/Image.jpg" alt="">
                                        </figure>
                                        <div class="media_content">
                                            <a class="desc limited-lines" data-line-count="2">
                                                استجابة لطلب العديد من الفنانين الشباب تم مد فترة التقديم للدورة
                                                (35) من
                                                صالون
                                                الشباب
                                            </a>
                                            <span class="date_time">
                                                منذ 3 ساعات
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="custom_media">
                                    <div class="media_body">
                                        <figure class="media_thumbnail">
                                            <img src="assets/images/Image.jpg" alt="">
                                        </figure>
                                        <div class="media_content">
                                            <a class="desc limited-lines" data-line-count="2">
                                                استجابة لطلب العديد من الفنانين الشباب تم مد فترة التقديم للدورة
                                                (35) من
                                                صالون
                                                الشباب
                                            </a>
                                            <span class="date_time">
                                                منذ 3 ساعات
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="custom_media">
                                    <div class="media_body">
                                        <figure class="media_thumbnail">
                                            <img src="assets/images/Image.jpg" alt="">
                                        </figure>
                                        <div class="media_content">
                                            <a class="desc limited-lines" data-line-count="2">
                                                استجابة لطلب العديد من الفنانين الشباب تم مد فترة التقديم للدورة
                                                (35) من
                                                صالون
                                                الشباب
                                            </a>
                                            <span class="date_time">
                                                منذ 3 ساعات
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="custom_media">
                                    <div class="media_body">
                                        <figure class="media_thumbnail">
                                            <img src="assets/images/Image.jpg" alt="">
                                        </figure>
                                        <div class="media_content">
                                            <a class="desc limited-lines" data-line-count="2">
                                                استجابة لطلب العديد من الفنانين الشباب تم مد فترة التقديم للدورة
                                                (35) من
                                                صالون
                                                الشباب
                                            </a>
                                            <span class="date_time">
                                                منذ 3 ساعات
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card_actions">
                        <a href="author-articles.html" class="btn">
                            <img src="assets/images/icons/ic_arrow.svg" alt="">
                        </a>
                    </div>
                </div>
            </div>
            <div class="card_authors_articles">
                <div class="card_body">
                    <div class="card_thumbnail">
                        <img src="assets/images/Avatar-Mask.jpg" alt="">
                        <h5 class="name">
                            د.وليد سيف
                        </h5>
                        <p class="desc">
                            كاتب سيناريو وناقد وباحث سينمائى
                        </p>
                    </div>
                    <div class="card_conent">
                        <div class="row no-gutters">
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="custom_media">
                                    <div class="media_body">
                                        <figure class="media_thumbnail">
                                            <img src="assets/images/Image.jpg" alt="">
                                        </figure>
                                        <div class="media_content">
                                            <a class="desc limited-lines" data-line-count="2">
                                                استجابة لطلب العديد من الفنانين الشباب تم مد فترة التقديم للدورة
                                                (35) من
                                                صالون
                                                الشباب
                                            </a>
                                            <span class="date_time">
                                                منذ 3 ساعات
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="custom_media">
                                    <div class="media_body">
                                        <figure class="media_thumbnail">
                                            <img src="assets/images/Image.jpg" alt="">
                                        </figure>
                                        <div class="media_content">
                                            <a class="desc limited-lines" data-line-count="2">
                                                استجابة لطلب العديد من الفنانين الشباب تم مد فترة التقديم للدورة
                                                (35) من
                                                صالون
                                                الشباب
                                            </a>
                                            <span class="date_time">
                                                منذ 3 ساعات
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="custom_media">
                                    <div class="media_body">
                                        <figure class="media_thumbnail">
                                            <img src="assets/images/Image.jpg" alt="">
                                        </figure>
                                        <div class="media_content">
                                            <a class="desc limited-lines" data-line-count="2">
                                                استجابة لطلب العديد من الفنانين الشباب تم مد فترة التقديم للدورة
                                                (35) من
                                                صالون
                                                الشباب
                                            </a>
                                            <span class="date_time">
                                                منذ 3 ساعات
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="custom_media">
                                    <div class="media_body">
                                        <figure class="media_thumbnail">
                                            <img src="assets/images/Image.jpg" alt="">
                                        </figure>
                                        <div class="media_content">
                                            <a class="desc limited-lines" data-line-count="2">
                                                استجابة لطلب العديد من الفنانين الشباب تم مد فترة التقديم للدورة
                                                (35) من
                                                صالون
                                                الشباب
                                            </a>
                                            <span class="date_time">
                                                منذ 3 ساعات
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card_actions">
                        <a href="author-articles.html" class="btn">
                            <img src="assets/images/icons/ic_arrow.svg" alt="">
                        </a>
                    </div>
                </div>
            </div>
            <div class="card_authors_articles">
                <div class="card_body">
                    <div class="card_thumbnail">
                        <img src="assets/images/Avatar-Mask.jpg" alt="">
                        <h5 class="name">
                            د.وليد سيف
                        </h5>
                        <p class="desc">
                            كاتب سيناريو وناقد وباحث سينمائى
                        </p>
                    </div>
                    <div class="card_conent">
                        <div class="row no-gutters">
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="custom_media">
                                    <div class="media_body">
                                        <figure class="media_thumbnail">
                                            <img src="assets/images/Image.jpg" alt="">
                                        </figure>
                                        <div class="media_content">
                                            <a class="desc limited-lines" data-line-count="2">
                                                استجابة لطلب العديد من الفنانين الشباب تم مد فترة التقديم للدورة
                                                (35) من
                                                صالون
                                                الشباب
                                            </a>
                                            <span class="date_time">
                                                منذ 3 ساعات
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="custom_media">
                                    <div class="media_body">
                                        <figure class="media_thumbnail">
                                            <img src="assets/images/Image.jpg" alt="">
                                        </figure>
                                        <div class="media_content">
                                            <a class="desc limited-lines" data-line-count="2">
                                                استجابة لطلب العديد من الفنانين الشباب تم مد فترة التقديم للدورة
                                                (35) من
                                                صالون
                                                الشباب
                                            </a>
                                            <span class="date_time">
                                                منذ 3 ساعات
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="custom_media">
                                    <div class="media_body">
                                        <figure class="media_thumbnail">
                                            <img src="assets/images/Image.jpg" alt="">
                                        </figure>
                                        <div class="media_content">
                                            <a class="desc limited-lines" data-line-count="2">
                                                استجابة لطلب العديد من الفنانين الشباب تم مد فترة التقديم للدورة
                                                (35) من
                                                صالون
                                                الشباب
                                            </a>
                                            <span class="date_time">
                                                منذ 3 ساعات
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="custom_media">
                                    <div class="media_body">
                                        <figure class="media_thumbnail">
                                            <img src="assets/images/Image.jpg" alt="">
                                        </figure>
                                        <div class="media_content">
                                            <a class="desc limited-lines" data-line-count="2">
                                                استجابة لطلب العديد من الفنانين الشباب تم مد فترة التقديم للدورة
                                                (35) من
                                                صالون
                                                الشباب
                                            </a>
                                            <span class="date_time">
                                                منذ 3 ساعات
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card_actions">
                        <a href="author-articles.html" class="btn">
                            <img src="assets/images/icons/ic_arrow.svg" alt="">
                        </a>
                    </div>
                </div>
            </div>
            <div class="row no-gutters justify-content-center">
                <button type="button" class="btn btn_yellow">
                    عرض المزيد
                </button>
            </div>
        </div>
    </div>
</div>
<!-- End Page -->